@charset "utf-8";
/* CSS Document */

.menu-link-container {
	width: 100%;
	text-align: center;
    margin-bottom: 15px;
    color: #000000;
}

.menu-h1 {
	text-align: center;
	font-size: 27px;
    padding-left: 15px;
    color: #000000;
}

  .notice-modal-content {
	margin-top: calc(50vh - 85px);
    width: 50%;
}

.notice-modal-content {
    width: 70%;
}

.notice-modal-content {
    margin-top: calc(50vh - 100px);
}
	
.notice-modal-content {
    width: 90%;
}