@charset "utf-8";
/* CSS Document */
.progressive {
  position: relative;
  display: block;
  overflow: hidden;
}
.progressive img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
}
.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}
.progressive img.hide {
  opacity: 0;
}
.progressive img.origin {
  position: absolute;
  left: 0;
  top: 0;
  animation: origin 1.5s ease-out;
}
.progressive img.origin-scale {
  position: absolute;
  left: 0;
  top: 0;
  animation: origin-scale 1s ease-out;
}
.notice-modal-content {
    width: 50% !important;
    margin-top: 50px !important;
    text-align: center;
}
@-moz-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes origin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes origin-scale {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
*::selection {
	color:white !important;
	background-color:#d60d26 !important;	}
.opacity-hover:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
.absolute{
	position:absolute;}
.login-big-div input:-webkit-autofill,
.login-big-div input:-webkit-autofill:hover, 
.login-big-div input:-webkit-autofill:focus,
.login-big-div textarea:-webkit-autofill,
.login-big-div textarea:-webkit-autofill:hover,
.login-big-div textarea:-webkit-autofill:focus,
.login-big-div select:-webkit-autofill,
.login-big-div select:-webkit-autofill:hover,
.login-big-div select:-webkit-autofill:focus, .login-big-div input:-internal-autofill-selected {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF00 inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color:transparent !important;
}
/*Start*/
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.logo-img {
    width: 60px;
}
.big-container-size {
    margin-top: 10px;
}
.padding-left{
	padding-left:7.5%;}
.header1{
    z-index: 3;
	width:100%;
	padding-bottom: 10px;
}
.second-row{
	z-index:-1;}
.menu-padding {
    padding-right: 15px;
}
.red-hover:hover{
	transition:.15s ease-in-out;
	color: #d21f3c;
}	
.hover-turn-red:hover{
	transition:.15s ease-in-out;
	color: #d21f3c;
}	
.first-left-div {
    margin-top: 180px;
	width:50%;
	padding-right: 5%;
}
.first-right-div {
	width:50%;
	padding-top: 80px;	
}
.thousand-h1 {
    font-weight: 900;
    font-size: 56px;
	color: black;
}
.gradient-border{
	width:100px;
	height:5px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thousand-p {
    font-size: 36px;
}
.red-text{
	color:#d60d26;}
.third-row {
    margin-top: 50px;
	margin-bottom:150px;
}
.third-row-first-div {
    width: 50%;
}
.third-row-second-div {
    width: 50%;
    padding-left: 5%;
	margin-top: 100px;
}
.thousand-p2{
	font-size:32px;}
.menu-bg {
       background-color: rgba(232, 0, 0, 0.17);
}
.right-menu-div{
	padding-top: 10px;
}
.header1{
	padding-bottom: 10px;
}
.black-text{
	color:black;}
.left-img {
    position: absolute;
    left: 20px;
	width: 220px;
}
.right-img {
    position: absolute;
    float: right;
	right:20px;
	width: 240px;
    margin-top: 190px;
}
.bulb-img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.row-4-p {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.arrow-p {
    text-align: center;
}
.arrow-img {
    width: 50px;
}
.four-row-div {
    overflow: hidden;
    padding-bottom: 200px;
}
.box-img {
    width: 45%;
}
.thousand-h2 {
    font-size: 42px;
    color: black;
	margin-bottom:10px;
}
.thousand-p3 {
    font-size: 24px;
}
.four-div {
    width: 20%;
	margin-bottom: 50px;
}
.small{
	text-align:center;
	margin-top: 0;
    font-size: 21px;
    margin-bottom: 35px;
	}
.four-image {
    width: 40%;
}
.middle-4-div{
	margin-left:5%;
	margin-right:5%;}
.four-box-p {
    font-weight: 700;
    font-size: 27px;
    min-height: 66px;
}
.thousand-h3 {
    font-size: 32px;
    color: black;
}
.add-padding-top{
	padding-top:50px;}
.package-box{
	width:28%;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	-moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	float:left;
	overflow:hidden;
	border-radius: 20px;
	}
.middle-package-box{
	margin-left:8%;
	margin-right:8%;
	
}
.thousand-h3a {
    font-size: 28px;
}
.color-box{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;}
.red-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.orange-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #f7941d 0%, #f4a21e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f7941d 0%,#f4a21e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f7941d 0%,#f4a21e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.golden-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #bc8b00 0%, #dd9e00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #bc8b00 0%,#dd9e00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fbc8b00 0%,#dd9e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.box-content-div{
	padding:15px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	overflow:hidden;}
.left-icon {
    width: 35px;
}
.right-content{
	width:calc(100% - 35px);
	padding-left:12px;}
.box-p {
    font-size: 18px !important;
    margin-top: 0;
    margin-bottom: 17px;
}
.one-row{
	margin-bottom:15px;
	clear:both;
	overflow:hidden;}
.ow-gradient-width{
	width:100% !important;
	height:3px !important;}
.coming-p {
    font-size: 36px;
}
.package-img {
    width: 80%;
	margin-top: 150px;
}
.six-row-div {
    padding-top: 100px;
	padding-left:7.5%;
    padding-bottom: 100px;	
}
.left-content {
    width: 50%;
    padding-right: 7.5%;
}
.social-icon {
    width: 40px;
}
.social-icon2{
	margin-left:20px;
}
.right-img-div{
	width:45%;}
.hover-opacity:hover{
	cursor:pointer;
	opacity:0.75;
	transition:.15s ease-in-out;}
.low-weight{
	font-weight:300;}
.contactus-row{
	margin-top:120px;}
.contactus-graphic {
    width: 25%;
}
.contact-us-form {
    width: 50%;
	padding-left: 5%;
    padding-right: 5%;
}
.extra-margin{
	margin-top:25px;
	margin-bottom: 30px;}
.input-name {
    width: 100%;
    font-size: 24px;
    padding: 5px;
	margin-top: 18px;
	border: 2px solid #a9151c;
    border-radius: 8px;
}
.input-message {
    margin-top: 18px;
    width: 100%;
    min-height: 150px;
    border: 2px solid #a9151c;
    border-radius: 8px;
    font-size: 24px;
    padding: 5px;
	margin-bottom: 5px;
}
.radio1 {
    min-height: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}
.opt-msg {
    width: 100%;
    float: left;
    margin-top: 0;
}
.input-submit {
    font-size: 24px;
    border: 0;
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    padding-top: 3px;
    margin-top: 20px;
    border-radius: 8px;
}
.footer-div{
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}
.footer-p {
    margin: 0;
    padding-bottom: 2px;
}
.red-hover2, .mobile-rocket{
	display:none;}
.mobile-logo{
	display:none;}
.tel-a{
	display:none;}
.content-img {
    bottom: 0;
}
.mobile-contact{
	display:none;}
.purple-tree3{
	display:block;
	position:absolute;
	width:70%;}
.orange-tree3{
	display:block;
	position:absolute;
	width: 80%;}	
.tree3-div{
	position:absolute;
	display:block;}	

.right0{
	right:0;}	
.purple-tree4, .orange-tree4{
	display:none;}
.sky2{
	display:none;}
.radio-div {
    width: 30px;
    margin-top: 3px;
}
.radio-p-div {
    width: calc(100% - 30px);
}

.four-div-mh {
    min-height: 300px;
}
.three-div {
    width: 31%;
}
.middle-3-div {
    margin-left: 3.5%;
	margin-right:3.5%;
}
.bigger-p {
    font-size: 21px;
    margin-bottom: 0;
}
.smaller-font {
    margin-top: 5px;
}
.divider-top{
	margin-top:50px;}
.divider-top2{
	margin-top:100px;}
.margin-top-small{
	margin-top:3px;}
.tm-a {
    text-decoration: underline;
    color: #d60d26;
}
.tm-a:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	color:#aa151c;}
.big-notice-b {
    color: white;
    font-weight: 800;
}
.big-notice{
	color:white;
	text-align:center;
	width: 30%;
    margin-left: auto;
    margin-right: auto;}
.white-box-css .bigger-p b{
	color:white;}
.white-box-css .bigger-p {
    margin-bottom: 50px;
	min-height: 50px;
}
/*Overwrite*/
.ow-padding-bottom{
	padding-bottom:30px !important;}
.ow-margin-bottom{
	margin-bottom:15px;	
}
.five-row-div{
	overflow: hidden !important;
    display: flex !important;
    padding: 30px 7.5% !important;	
}
.green2-box{
	background: rgba(4,153,51,1);
	background: -moz-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,153,51,1)), color-stop(100%, rgba(8,172,85,1)));
	background: -webkit-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: -o-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: -ms-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: linear-gradient(to right, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049933', endColorstr='#08ac55', GradientType=1 );
}
.purple2-box{
	background: rgba(119,82,162,1);
	background: -moz-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(119,82,162,1)), color-stop(100%, rgba(150,82,162,1)));
	background: -webkit-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: -o-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: -ms-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: linear-gradient(to right, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7752a2', endColorstr='#9652a2', GradientType=1 );
}
.peach-box{
	background: rgba(241,105,105,1);
	background: -moz-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,105,105,1)), color-stop(100%, rgba(246,134,90,1)));
	background: -webkit-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: -o-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: linear-gradient(to right, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16969', endColorstr='#f6865a', GradientType=1 );}
.white-s{
	color:white;
	font-size:smaller;}
.red-sticker {
    position: absolute;
    margin-left: -2%;
    margin-top: -47px;
}
.marketing-mp {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.package-50{
	width:50%;}
.right-package-50{
	margin-left:4%;}
.blue-box{
	background: rgba(0,144,197,1);
	background: -moz-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,144,197,1)), color-stop(100%, rgba(0,178,218,1)));
	background: -webkit-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: -o-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: linear-gradient(to right, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090c5', endColorstr='#00b2da', GradientType=1 );	
}
.width50 {
    width: 48%;
    float: left;
}
.right-width50 {
    margin-left: 4%;
}
.emerald-box{
	background: rgba(0,187,178,1);
	background: -moz-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,187,178,1)), color-stop(100%, rgba(0,211,204,1)));
	background: -webkit-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: -o-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: linear-gradient(to right, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbb2', endColorstr='#00d3cc', GradientType=1 );
}
.smaller-mp {
    font-size: 18px;
}
.five-div {
    width: 18%;
    float: left;
	text-align:center;
}
.five-div-img {
    width: 40%;
}
.left-five-div, .right-five-div{
	margin-left:2.5%;
	margin-right:2.5%;}
.five-div-p{
	font-size:21px;}
.some-margin-top{
	margin-top:30px;}
.menu-bg {
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
}
.display-none{
	display:none !important;}
.display-block{
	display:block !important;}
.smallest-p {
    width: 70%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 14px;
	margin-top: 35px;
}
.first-border{
	float:left;}
.slogan-p {
    float: left;
    margin-top: -18px;
    margin-left: 30px;
    font-size: 32px;
    margin-bottom: 0;
    color: #ab151d;
}
.red-btn{
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);}
.middle-btn-size {
    width: 200px;
    margin-left: calc(50% - 100px);
    text-align: center;
    color: white;
    padding: 8px 10px;
    font-size: 21px;
    border-radius: 5px;
}
.three-btn-size {
    width: 28%;
    /* margin-left: calc(50% - 100px); */
    text-align: center;
    color: white;
    padding: 8px 10px;
    font-size: 21px;
    border-radius: 5px;
    float: left;
}
.two-btn-size{
    width: 48%;
    /* margin-left: calc(50% - 100px); */
    text-align: center;
    color: white;
    padding: 8px 10px;
    font-size: 21px;
    border-radius: 5px;
    float: left;	
}
.second-two-btn {
    margin-left: 4%;
}
.middle-three-btn{
	margin-left:8%;
	margin-right:8%;	
}
.hover-a-reverse{
	opacity:0.85;}
.hover-a-reverse:hover{
	opacity:1;
	transition:.15s ease-in-out;
	cursor:pointer;}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content{
	width: 30%;
	background-color: white;
    border: 0;
	margin-top: calc(50vh - 280px);

}
.yellow-text2{
	color:#ffe529;}
.form-input {
    font-size: 16px !important;
}
.more-margin-top {
    margin-top: 50px;
}
.ow-w100{
	width:100% !important;}
.mobile-appear{
	display:none;}
.blog-menu {
    background-color: white;
}
.blog-bg-div{
	background-image:url(../img/thousand-media/pink-blog-bg.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:bottom;
	min-height:calc(100vh - 21px);
	overflow: hidden;
	width:100%;
	}
.menu-distance{
	padding-top:63.5px;	
}
.border-title {
    margin-bottom: 20px;
}
.big-blog-css{
	padding-bottom:600px;
	display: flex;
	margin-top: 50px;
	padding: 15px;
    padding-bottom: 620px;}
.left-blog-div{
	width:48%;
	float:left;
	background-color: white;
	-webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17); 
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17);
	border-radius: 10px;
}
.right-blog-div{
	width:48%;
	float:left;
	margin-left:4%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17); 
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17);
	border-radius: 10px;}
.big-image-div{
	width:100%;
	}
.big-blog-content {
    padding: 10px;
    overflow: hidden;
}

.blog-date {
    font-size: 14px;
    color: #808080;
}
.blog-article-cat {
    margin-left: 0;
}
.blog-date2 {
    margin: 0;
    font-size: 13px;
}
.blog-title-h3, .blog-title-h2 {
    margin-top: 0;
    margin-bottom: 10px;
	font-weight:700;
}
.blog-title-h3{
	font-size:21px;}
.blog-article-cat {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
    width: 90px;
    border-radius: 7px;
}
.category-button{
	margin-top:30px;
	margin-bottom: 50px;}
.blog-aa {
    float: left;
	font-size: 21px;
	padding-top: 8px;
	font-weight: 600;
	color:#808080;
}
.blog-aa2 {
    float: left;
    margin-left: 20px;
    font-size: 21px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
	color: white;
	border-radius: 10px;
	opacity:0.85;
	font-weight: 600;
}
.blog-aa2:hover{
	opacity:1;
	transition:.15s ease-in-out;}
.blue-div{
	background-color:#0062ff;}
.green-div{
	background-color:#39b54a;}
.blog-article-cat{
	margin-left:0 !important;}
.blog-img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.purple-div{
	background-color:#93278f;}
.red-div{
	background-color:#d60d26;}
.orange-div{
	background-color:#f15a24;}
.article-cat {
    margin-left: 0 !important;
    margin-top: 20px;
    margin-bottom: 50px;
}
.article-padding {
    padding-left: 25%;
    padding-right: 25%;
}
.width-auto{
	width:auto !important;}
.title-h3 {
    color: black;
	margin-top: 40px;}
.article-date {
    font-size: 12px;
    color: #a2a2a2;
}
.blog-title3 {
    font-size: 32px !important;
    float: left;
    margin-top: 0;
}
.white-button {
    float: right;
    margin-right: 20px;
    font-size: 21px;
    color: #b5b5b5;
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    padding-top: 8px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(183,183,183,0.44); 
	box-shadow: 0px 0px 6px 2px rgba(183,183,183,0.44);
	background-color:white;}
.white-button:hover{
	color:white;
	background-color:#d60d26;
	transition:.15s ease-in-out;}
.three-in-one-row {
    width: 100%;
	margin-bottom:50px;
	
}
.three-div-content {
    padding: 10px;
    overflow: hidden;
}

.three-one-small-div {
    width: calc(33.3% - 15px);
    margin-right: 15px;
    float: left;
    background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	margin-bottom: 50px;
}
.article-bg {
    padding-bottom: 400px;
}
.article-content {
    padding-bottom: 75px;
}
.white-box2{
	background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	margin-bottom: 30px;}
.blog-article-cat{
	margin-left:0 !important;
	clear:both;
	width:auto !important;}
.opacity-white-hover:hover{
	opacity:.85;
	color:white;
	transition:.15s ease-in-out;}
.starry-bg{
	background-image:url(../img/thousand-media/starry-bg3.jpg);
	min-height:calc(100vh - 21px);
	background-size:cover;
	padding-bottom: 500px;}
.purple-bg{
	background-image:url(../img/thousand-media/purple-bg.jpg);
	min-height:calc(100vh - 21px);
	background-size:cover;
	background-position:bottom;
	padding-bottom: 200px;}
.first-content-div {
    text-align: center;
	margin-top: 200px;
}
.explanation-p {
    margin-top: 0;
    color: #e4e4e4;
    font-size: 19px;
}
.details-p {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    color: #e4e4e4;
    margin-top: 25px;
}
.galaxy-h1-title {
    margin-bottom: 10px;
	font-weight:900;
}
.tzexin {
    position: absolute;
    right: 15%;
    margin-top: 100px;}
.left-star-div{
	position:absolute;}
.absolute{
	position:absolute;
	}
.left-star-div2 {
    margin-top: 80px;
    margin-left: 5%;
}
.left-star-div3 {
    margin-top: 200px;
    margin-left: -3.5%;
}
.star-img2 {
    width: 15px;
}
.right-star-div {
    right: 10%;
}
.right-star-div2 {
    right: 8%;
    margin-top: 50px;
}
.star-img3 {
    width: 12px;
}
.left-pink-planet {
    margin-top: -30px;
    margin-left: 8%;
	
}
.second-content-div {
    margin-top: 100px;
}
.white-box-div {
    background-color: #ffffffa8;
    border-radius: 15px;
    padding: 30px;
	text-align: center;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	clear: both;
}
.galaxy-h1-title2 {
    margin-top: 0;
	font-weight:900;
}
.green-text{
	color:#06a64b;}
.li-p {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
	color: black;
	font-size: 18px;
}
.margin-bottom0{
	margin-bottom:0;}
.pink-radius-button {
    color: white;
    padding: 10px;
    width: 300px;
    font-size: 21px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.blue-planet {
    margin-top: -300px;
    margin-left: 15%;
}
.gold-planet{
    margin-top: -200px;
    margin-left: calc(50% - 520px);
}
.roi-planet {
    margin-top: -50px;
    margin-left: -3%;
}
.left-star-div-roi {
    right: 5%;
}
.left-star-div-roi2 {
    right: 8%;
    margin-top: 50px;
}
.mingshie {
    right: 1%;
    margin-top: 100px;
}
.blue-iron {
    right: 1%;
    margin-top: 400px;
}
.third-content-div {
    margin-top: 200px;
}
.purple-text{
	color:#8252a2;}
.third-content-div .li-p {
    width: 500px;}
.left-star-div-purple2 {
    margin-top: -150px;
    margin-left: -3%;
}
.left-star-div-purple3 {
    margin-left: 10%;
    margin-top: -90px;
}
.left-star-div-purple4 {
    margin-top: 80px;
    margin-left: 15%;
}
.red-highlight {
    font-weight: 900;
    color: #b91220;
}
.black-rock {
    right: calc(50% - 600px);
    margin-top: -200px;
}
.orange-text{
	color:#f47861;}
.four-content-div {
    margin-top: 200px;
}
.four-content-div .li-p{
	width: 500px;
}
.advanced-marketing-planet {
    margin-top: -600px;
}
.advanced-marketing-planet-red {
    margin-top: -300px;
    margin-left: 300px;
}
.marketing-rocket {
    margin-top: -100px;
    margin-left: -4%;
}
.halo-planet {
    margin-left: 9%;
}
.bottom-star {
    right: 3%;
}
.bottom-star2 {
    right: 7%;
    margin-top: 80px;
}
.bottom-star3 {
    right: 9%;
    margin-top: -300px;
}
.advanced-marketing-planet-red img{
	width:100%;}
.white-menu-bg{
	background-color:white;}
.white-menu-bg a{
	color:#a71d32;}
.white-menu-bg a:hover{
	color:#a71d32;
	opacity:0.85;
	transition:.15s ease-in-out;}
.author-name {
    font-size: 21px;
}
.weight-800 {
    font-weight: 800;
}
.share-title{
	margin-bottom:10px;
	margin-top:0;}
.share-div {
    overflow: hidden;
    border-top: 1px solid gainsboro;
    padding-top: 30px;
    padding-bottom: 50px;
}
.comment-div {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 50px;
}
.padding-bottom-0-important{
	padding-bottom:30px !important;}
.blog-title-h2 {
    min-height: 60px;
}
.left-content-top {
    z-index: 2;
    position: absolute;
    margin-top: 180px;
	width: 45%;}
.art-h1 {
    color: black;
    font-weight: 800;
}
.art-p {
    color: black;
    font-size: 21px;
}
.mobile-view1{
	display:none;}
.moon-height{
	min-height:850px;}
.stand-top {
    z-index: 2;
    position: absolute;
}
.middle-text-div {
    width: 40%;
    text-align: center;
    margin-left: 25%;
    margin-top: 150px;
}
.opacity-control{
	opacity:0.7;}
.moon-bg{
	background-image:url(../img/thousand-media/moon.png);
	background-size:cover;
	background-position:bottom;}
.left-detail-div{
	background: rgba(90,101,255,1);
background: -moz-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,101,255,1)), color-stop(100%, rgba(215,174,201,1)));
background: -webkit-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: -o-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: -ms-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: linear-gradient(to right, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a65ff', endColorstr='#d7aec9', GradientType=1 );
width:45%;
text-align: center;
    padding: 20px;
	border-radius: 10px;
	width: 40%;
	margin-top: 50px;}
.right-ani-pic {
    width: 40%;
}
.thin-detail-p {
    font-weight: 300;
    color: white;
    font-size: 27px;
}
.left-detail-p {
    color: white;
    font-size: 24px;
    font-weight: 800;
}
.slight-top {
    margin-top: 90px !important;
}
.padding-top {
    padding-top: 50px;
}
.white-box-css {
    overflow: hidden;
    background-color: #ffffff0d;
	border-radius: 20px;
    padding: 20px 50px;
}
.artz-h1 {
    text-align: center;
    font-weight: 900;
    color: white;
}
.left-li-div {
    float: left;
    width: 70%;
}
.white-ul li {
    color: white;
    font-size: 21px;
    margin-bottom: 12px;
}
.first-li-div {
    float: left;
	width: 50%;
}
.second-li-div {
    float: left;
	width: 50%;
}
.right-img-div2 {
    width: 30%;
    float: right;
}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;}
.pointer:hover{
	cursor:pointer;}
.ow-pink-btn:hover{
    background: -moz-linear-gradient(left, #96141a 0%, #fd1734 100%);
    background: -webkit-linear-gradient(left, #96141a 0%,#fd1734 100%);
    background: linear-gradient(to right, #96141a 0%,#fd1734 100%);
	transition:.15s ease-in-out;
	cursor:pointer;}
.explain-p {
    color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.explain-i {
    color: white;
    font-weight: 800;
}
.dropdown-png {
    height: 8px;
    margin-left: 5px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
	margin-top: -2px !important;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#d60d26;
	transition:.15s ease-in-out;
	cursor:pointer;}
.grey-dropdown {
    display: none;
}

.blue-bg2{
	background-image:url(../img/thousand-media/blue-bg.jpg);
	min-height:calc(100vh - 21px);
	background-size:cover;
	background-position:bottom;
	padding-bottom: 360px;}
.blue-menu{
    background: -moz-linear-gradient(left, #0a9494 0%, #1578d6 100%);
    background: -webkit-linear-gradient(left, #0a9494 0%,#1578d6 100%);
    background: linear-gradient(to right, #0a9494 0%,#1578d6 100%);	
}
.purple-menu{
    background: -moz-linear-gradient(left, #3e62ba 0%, #405fb9 100%);
    background: -webkit-linear-gradient(left, #3e62ba 0%,#405fb9 100%);
    background: linear-gradient(to right, #3e62ba 0%,#405fb9 100%);	
}
.cloud-div {
    background-image: url(../img/thousand-media/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    background-position: right;
    margin-right: 7.5%;
	width: 600px;
}
.bold-detail-p {
    color: black;
    font-weight: 900;
    font-size: 32px;
	margin-top: 110px;
}
.normal-detail-p {
    font-size: 21px;
    color: black;
}
.green-gradient{
	background: #5acf8b;
    background: -moz-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #5acf8b), color-stop(100%, #34a7a4));
    background: -webkit-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: -o-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: -ms-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: linear-gradient(to right, #5acf8b 0%, #34a7a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5acf8b', endColorstr='#34a7a4', GradientType=1 );	
}
.inifi-left-div {
    float: left;
    width: 50%;
}
.infi-right-div {
    float: right;
    width: 50%;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 100px;
	padding-bottom: 30px;
}
.left-bird {
    position: absolute;
    left: 27%;
}
.right-bird {
    position: absolute;
    right: 20%;
}
.purple-bg2{
background: rgba(26,0,105,1);
background: -moz-linear-gradient(-45deg, rgba(26,0,105,1) 0%, rgba(230,30,183,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(26,0,105,1)), color-stop(100%, rgba(230,30,183,1)));
background: -webkit-linear-gradient(-45deg, rgba(26,0,105,1) 0%, rgba(230,30,183,1) 100%);
background: -o-linear-gradient(-45deg, rgba(26,0,105,1) 0%, rgba(230,30,183,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(26,0,105,1) 0%, rgba(230,30,183,1) 100%);
background: linear-gradient(135deg, rgba(26,0,105,1) 0%, rgba(230,30,183,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a0069', endColorstr='#e61eb7', GradientType=1 );
	overflow:hidden;
}
.ow-white-text{
	color:white !important;}
.slogan-p{
	color: white;
}
.first-div-p {
    color: #ffffff;
    font-size: 27px;
    font-weight: 300;
}
.first-div-p b {
    color: white;
    font-weight: 900;
	font-size: 36px;
}
.first-right-div {
    width: 40%;}
.first-left-div{
    width: 60%;	
}
.stars-bg{
    background-image: url(../img/thousand-media/stars.png);
    background-size: cover;
    background-repeat: no-repeat;	
	padding-bottom: 20px;
}
.third-row{
	padding-bottom:50px;
	margin-bottom: 0;
	margin-top: 0;}
.thousand-p2 {
    font-size: 32px;
    color: white;
    font-weight: 300;
}
.thousand-p2 b {
    color: white;
    font-weight: 900;
}
.third-row-first-div {
    padding-top: 30px;
    padding-right: 50px;
}
.pack1{
	background: rgba(17,17,161,1);
background: -moz-linear-gradient(-45deg, rgba(17,17,161,1) 0%, rgba(230,30,183,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(17,17,161,1)), color-stop(100%, rgba(230,30,183,1)));
background: -webkit-linear-gradient(-45deg, rgba(17,17,161,1) 0%, rgba(230,30,183,1) 100%);
background: -o-linear-gradient(-45deg, rgba(17,17,161,1) 0%, rgba(230,30,183,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(17,17,161,1) 0%, rgba(230,30,183,1) 100%);
background: linear-gradient(135deg, rgba(17,17,161,1) 0%, rgba(230,30,183,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1111a1', endColorstr='#e61eb7', GradientType=1 );}
.pack2{
	background: rgba(7,37,46,1);
background: -moz-linear-gradient(-45deg, rgba(7,37,46,1) 0%, rgba(25,158,163,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(7,37,46,1)), color-stop(100%, rgba(25,158,163,1)));
background: -webkit-linear-gradient(-45deg, rgba(7,37,46,1) 0%, rgba(25,158,163,1) 100%);
background: -o-linear-gradient(-45deg, rgba(7,37,46,1) 0%, rgba(25,158,163,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(7,37,46,1) 0%, rgba(25,158,163,1) 100%);
background: linear-gradient(135deg, rgba(7,37,46,1) 0%, rgba(25,158,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07252e', endColorstr='#199ea3', GradientType=1 );}
.pack3{
	background: rgba(58,25,180,1);
background: -moz-linear-gradient(45deg, rgba(58,25,180,1) 0%, rgba(41,15,86,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(58,25,180,1)), color-stop(100%, rgba(41,15,86,1)));
background: -webkit-linear-gradient(45deg, rgba(58,25,180,1) 0%, rgba(41,15,86,1) 100%);
background: -o-linear-gradient(45deg, rgba(58,25,180,1) 0%, rgba(41,15,86,1) 100%);
background: -ms-linear-gradient(45deg, rgba(58,25,180,1) 0%, rgba(41,15,86,1) 100%);
background: linear-gradient(45deg, rgba(58,25,180,1) 0%, rgba(41,15,86,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a19b4', endColorstr='#290f56', GradientType=1 );}
.three-pack{
	display:flex;
	margin-top: -3px;}
.pack-b {
    margin-top: 0;
    color: white;
    font-weight: 900;
    font-size: 27px;
	margin-bottom: 0;
}
.pack {
    width: 33.33%;

}
.pack-p {
    color: white;
    font-size: 21px;
	font-weight: 300;
}
.pack-ul li {
    font-weight: 300;
    color: white;
    font-size: 21px;
	margin-bottom: 15px;
}
.pack-ul, .pack-p {
    min-height: 130px;
	margin: 0;
}
.pack-btn {
    color: white;
    width: 150px;
    font-size: 21px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.bottom-bg{
    padding: 50px 8%;	
}
.small-just {
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.small-note {
    color: #cecece;
    margin: 0;
    font-weight: 300;
}
.ow-bottom-bg{
	padding-top:0 !important;
	padding-right:0 !important;}
.marketing-bg{
    background-image: url(../img/thousand-media/marketing1.png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position:bottom;
	background-position-x: right;	
	height: 100%;	
}
.content-bg{
    background-image: url(../img/thousand-media/content2.png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position:bottom;
	background-position-x: right;	
	height: 100%;	
}
.graphic-bg{
    background-image: url(../img/thousand-media/thousand-art3.png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position:bottom;	
	background-position-x: right;
	height: 100%;	

}
.moon-bg2{
    background-image: url(../img/thousand-media/thousand-art3a.png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position:top;	
	background-position-x: right;
	padding-top:50px;
	padding-right:8%;	
}
.padding-right-add{
	padding-right:8%;}
.row-4-p{
	font-size: 24px;
    font-weight: 600;
}
.scale-b {
    font-weight: 900;
    color: #d40e26;
}
.slick-dots li.slick-active button:before {
    color: #ab151d;
}
    .slider {
        width: 100%;
        margin-top: 50px;
    }

    .slick-slide {
      margin: 0px 20px;
    }


    .slick-prev:before,
    .slick-next:before {
     color: #bb1220;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
    }

	.testi-item{
		border:1px solid black;
		min-height: 270px;
		border-radius: 10px;
		padding: 20px;}
.left-logo-div {
    float: left;
    width: 70px;
}
.right-detail-div {
    width: calc(100% - 70px);
    float: left;
    padding-left: 20px;
}
.testi-title {
    margin-top: 0;
    font-weight: 900;
	margin-bottom: 0;
}
.review-p {
    margin: 0;
    margin-top: 10px;
}
.review-png {
    width: 100px;
}
.testi-logo {
    width: 70px;
}
.regular2{
	display:none;}
.option-heading:after          { content: "\25bc"; 
    float: right;}
.option-heading.is-active:after { content: "\25b2"; }
.faq-div {
    width: 50%;
    text-align: center;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;}
.question-div{
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
	color:white;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 900;
    font-size: 21px;
    margin-top: 30px;
	overflow:hidden;
}
.question-div p{
	color:white;
	margin:0;
	width:calc(100% - 25px);
	float:left;}
.answer-div {
    padding: 10px 20px;
    border: 2px solid #ac141d;
	color: black;
	font-size: 18px;
}
.question-div:hover{
    background: -moz-linear-gradient(left, #96141a 0%, #fd1734 100%);
    background: -webkit-linear-gradient(left, #96141a 0%,#fd1734 100%);
    background: linear-gradient(to right, #96141a 0%,#fd1734 100%);
	transition:.15s ease-in-out;
	cursor:pointer;}

.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.contact-p1 {
    font-size: 18px;
    color: black;
}
.home-footer{
	margin-top: -3px !important;
}
.contact-big-div {
    width: 45%;
    margin: 0 auto;
}
.package-b2 {
    color: white;
    font-weight: 900;
    margin: 0;
    font-size: 21px;
}
.package-b3 {
    margin-top: 0;
    color: white;
    font-weight: 300;
}
.divider {
    width: 70%;
    height: 1px;
    border: 1px solid #ffffff54;
    margin-top: 10px;
}
.bold-price, .line-through-price {
    color: white;
    font-weight: 900;
    font-size: 32px;
	margin-top: 10px;
    margin-bottom: 0;
}
.line-through-price{
	text-decoration: line-through;
}
.opacity0 {
    opacity: 0;
}
.price500{
	font-size:21px;
	font-weight:500;
	margin-top: 0;}
.slogan-p2 {
    color: white;
    font-size: 21px;
	margin-top: 10px;
}
.minor-span, .minor-span i {
    color: #d6d6d6;
    font-size: 14px;
}
.thinner {
    color: white;
    font-weight: 300;
}
.min-height100vh{
	min-height:calc(100vh - 21px);}
.input-top-text {
    font-size: 12px;
    margin-bottom: 0;
}
.login-big-div .aidex-input{
	width:100%;
	border:0;
	font-size: 21px;
	border-bottom:1px solid white;
	background-color: transparent;
	color: white;}
.per-input{
	width:100%;
	margin-bottom:30px;
	overflow:hidden;}
.eye-icon {
    width: 20px;
    float: left;
	margin-top: 8px;
}
.aidex-input{
	width:100%;    
	font-size: 18px;
    margin-bottom: 20px;
	margin-top: 5px;
}
.login-big-div .password-input, .password-input {
    width: calc(100% - 25px);
    float: left;
    border-bottom: 0 !Important;
}
.login-big-div .password-input-div {
	border:0;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.pink-button{
	color:white;
	width:200px;
	text-align:center;
    padding-bottom: 6px;
    padding-top: 2px;
	border:0;
	font-size: 21px;
	border-radius:25px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
	transition:.15s ease-in-out;	
}
.pink-button:hover{
	cursor:pointer;
	background: -moz-linear-gradient(left, #8c1117 0%, #c50820 100%);
    background: -webkit-linear-gradient(left, #8c1117 0%,#c50820 100%);
    background: linear-gradient(to right, #8c1117 0%,#c50820 100%);	
	transition:.15s ease-in-out;	
}
.login-logo-img {
    width: 80px;
	margin-bottom: 30px;
}
.min-height-with-menu {
    min-height: calc(100vh - 42px);
}
.table-css th{
	text-align:left;
	background-color: #d50d26;
    color: white;
	vertical-align:top;
	padding: 5px;}
.table-css td{
	padding:5px;
	vertical-align:top;
	border-bottom:1px solid #d50d26;}
.table-css {
    width: 100%;
	border-collapse:collapse;
	
}
.edit-btn {
    background: transparent;
    border: 0;
    color: #d50d26;
    padding: 0;
    font-size: 16px;
	transition:.15s ease-in-out;
}
.edit-btn:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	color:#ad0016;}
.scroll-div {
    width: 100%;
    overflow: auto;
    max-height: 80vh;
}
.pink-title{
	color:#c80f23;	
}
.overwrite-img-a{
    display: block;
    height: 250px;
    width: 30%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}

/* Copy from tevy */
.article-card{
	border:0 !important;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,130,130,0.16);
    box-shadow: 0px 0px 15px 5px rgba(255, 68, 68, 0.12);
	margin-bottom: 12px;

}
.blog-content-div1 {
    width: 50% !important;
}	

.peach-text{
    color: #ffae68;
}
.source-p {
    color: #b9b9b9;
    margin-bottom: 30px;
	text-align:center;
	padding-left: 10px;
    padding-right: 10px;
	margin-top:0;
}
.tevy-textarea {
    border-radius: 5px;
	min-height: 170px;
}
.one-line-textarea{
    border-radius: 5px;}
.three-line-textarea{
    border-radius: 5px;}
.recommended {
    width:75% !important;
    margin-left: 12.5% !important;
    margin-right: 0 !important;
    margin-bottom: 30px !important;
}
.refer-png {
    height: 25px;
    margin-left: 5px;
}
.step-p {
    text-align: center;
    font-size: 21px;
    font-weight: 800;
	    margin-top: 50px;
}
.step-p2 {
    font-weight: 400;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.tutorial-div img {
    width: 70%;
    margin-left: 15%;
	border: 2px solid #f18c8c;}
.close-btn {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.youtube-video-iframe {
    width: 100%;
    height: 500px;
}
.article-css-control iframe{
    width: 100%;
    height: 500px;
	margin-top: 20px;
    margin-bottom: 20px;
}
.article-css-control{ 
    width: 100%;
    overflow: hidden;
}

.article-css-control a {
    color: #ff8689 !important;
    text-decoration: underline !important;
}
.article-css-control a:hover {
	color:#d45054 !important;	
}
.article-css-control a span{
    color: #ff8689 !important;
    text-decoration: underline !important;
}
.article-css-control a span:hover {
	color:#d45054 !important;	
}
.article-css-control a span u{
    color: #ff8689 !important;
    text-decoration: underline !important;
}
.article-css-control a span u:hover {
	color:#d45054 !important;	
}
.article-css-control img {
	width: 70% !important;
    height: auto !important;
	margin-left:15%;
	margin-right:15%;
	clear:both;
	margin-top: 10px;
    margin-bottom: 10px;}
.article-css-control .feather-png {
    width: 20px !important;
    margin-top: 10px !important;
    margin-left: 5px !important;
	margin-right:0 !important;
}
.grey-bg-ow {
    background-color: #cccccc !important;
}
.grey-bg-ow:hover {
    background-color: #b7a7a7 !important;
}
.dl-menuwrapper li a{
    padding: 8px 20px;
    font-size: 14px;	
}
ul.dl-menu.dl-menuopen {
    overflow: auto;
    z-index: 999999;
    height: 100vh;
    padding-bottom: 55px;
}
.red-h1 {
    word-break: break-all;	
}
.overwrite-img-a{
    display: block;
    height: 250px;
    width: 30%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.article-css-control table {
    width: calc(100% - 5px) !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border-collapse: collapse !IMPORTANT;
}
.article-css-control div{
	margin-left:0 !important;
	margin-right:0 !important;}
.article-css-control td, .article-css-control  th {
    padding: 3px 10px !important;
	border-collapse: collapse !important;
}
/* copy from mypets*/
.blog-padding-big-div {
    width: 104%;
    overflow: hidden;
    margin-left: -1%;
    padding-left: 1%;
}
.two-div-width{
	width: 47.5%;
    margin-left: 0;
    margin-right: 2%;
}
.two-div-width {
    width: 48%;
	margin-left:1%;
	margin-right:1%;
    float: left;
	margin-bottom: 30px;
	overflow:hidden;
}
.second-two-div-width{
	margin-left:4%;}
.left-img-div {
    float: left;
    height: 250px;
    width: 30%;
    background-size: cover;
    background-position: center;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	overflow: hidden;
}
.right-content-div {
    float: left;
    width: 70%;
	padding: 15px;
	height: 250px;
	overflow:hidden;
}
.article-title {
    margin: 0;
	font-weight: 900;
}
.date-p {
    margin-top: 5px;
    font-size: 14px;
}
.blog-box {
    border-radius: 10px;
}
.blog-img {
    width: auto;
    height: 250px;
}

.cover-photo {
    width: 111% !important;
    margin-left: -5.5%;
}

.blog-inner-div {
    width: 50%;
    margin: 0 auto;
	background-color: white;
    padding: 0 5%;
	overflow: hidden;
}
.blog-big-div {
    background-color: #dedede;
}
.small-blog-date {
    margin-top: 10px;
    color: #bbbbbb;
    font-size: 14px;
}
.blog-content-img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.blog-content{
	padding-bottom:50px;}
.blog-content img{
	width:100%;
	overflow:hidden;}
.border-new-div {
    border-top: 1px solid #1c4564;
}
.share-div{
	margin-top:30px;
	margin-bottom: 30px;}
.left-img-div2 {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.right-content-div3 {
    width: 100%;
    padding: 10px 20px;
}
.right-content-p {
    margin-bottom: 0;
    height: 55px;
    overflow: hidden;
}
.recommend {
    margin-bottom: 50px;
	    padding: 10px;
}
.shadow-white-box{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(255, 71, 71, 0.15);
	box-shadow: 0px 0px 5px 3px rgba(255, 71, 71, 0.15);
	background-color: white;
}
.blog-content img{
	width:100%;}
.blog-content table {
    width: 100% !important;
    border-collapse: collapse;
}
.blog-content iframe{
	width:100% !important;
	height:500px !important;}
.dual-input{
	width:48%;
	float:left;}
.second-dual-input{
	margin-left:4%;}

.password-input-div .aidex-input{
	margin-bottom:0;
	border:0;	
}
.password-input-div {
    margin-bottom: 20px;
    overflow: hidden;
	border: 1px solid;
}
.blog-input{
	width:100%;
	font-size:18px;
	border:1px solid;
	margin-top:5px;
	margin-bottom:25px;}
.keyword-input {
    min-height: 70px;
}
.desc-textarea {
    min-height: 150px;
}
.attention-png {
    height: 20px;
}
.refer-modal-content {
    margin-top: 30px;
	margin-bottom: 20px;
}
.back-btn2 {
    height: 24px;
}
/* Helpers */
.is-hidden { display: none; }
/* Overwrite */
.padding-top100{
	padding-top:100px;}
.padding-bottom50{
	padding-bottom:50px;}
.margin-top30{
	margin-top:30px;}
.ow-margin-top50{
	margin-top:50px;}
.margin-top100{
	margin-top:100px;}
.ow-margin-top0{
	margin-top:0 !important;}
.ow-white-text{
	color:white !important;}
@media all and (max-width: 1650px){	
.blog-title-h2 {
    min-height: 87px;
}


}
@media all and (max-width: 1600px){	
.input-name{
	font-size: 21px;
}
.planet-img{
	width:100%;}
.tzexin {
    right: 4%;
    width: 18%;}
.left-pink-planet {
    margin-top: -80px;
    margin-left: -3%;
    width: 10%;
}
.blue-planet {
    width: 3%;
}
.gold-planet {
    width: 5%;
}
.roi-planet {
    width: 15%;
}
.mingshie {
    width: 28%;
}
.blue-iron {
    width: 5%;
    right: 3%;
}
.black-rock {
    width: 15%;
}
.advanced-marketing-planet {
    width: 12%;
}
.advanced-marketing-planet-red {
    width: 5%;
}
.marketing-rocket {
    width: 13%;
}
.halo-planet {
    margin-left: 12%;
    width: 15%;
}
.white-box-div {
    width: 60%;}
.big-notice {
    width: 50%;}
.left-img-div2 {
    height: 250px;}
}
@media all and (max-width: 1556px){	
.footer-div{
	margin-top:0;}
.mobile-contact{
	display:block;}
.web-contact{
	display:none;}
.moon-height {
    min-height: 670px;
}
.middle-text-div {
    margin-top: 120px;
}
.testi-item{
    min-height: 290px;	
}
.faq-div {
    width: 70%;}
}


@media all and (max-width: 1500px){	
.thousand-h1{
	font-size: 48px;
}
.thousand-p {
    font-size: 30px;
}
.thousand-p2 {
    font-size: 27px;
}
.orange-tree {
    margin-top: 82px;
    bottom: 0;
}
.advanced-marketing-planet-red {
    margin-left: 120px;
}
}
@media all and (max-width: 1460px){	
.pack-color {
    min-height: 178px;
}
}
@media all and (max-width: 1445px){
.pack-color {
    min-height: 212px;}
}
@media all and (max-width: 1400px){	
.thousand-h2 {
    font-size: 36px;}
.thousand-h3 {
    font-size: 28px;
    margin-bottom: 20px;}
.left-icon {
    width: 30px;
}	
.right-content {
    width: calc(100% - 30px);}
.box-p {
    font-size: 21px;}
.ow-gradient-width {
    height: 2px !important;
}

.thousand-h3a {
    font-size: 24px;
}
.coming-p {
    font-size: 32px;
}
.pack-color {
    min-height: 0;
}
.five-div-p {
    font-size: 18px;
}
.five-div-img {
    width: 60%;
}
.big-blog-css {
    padding-bottom: 390px;
}
.blog-title3 {
    font-size: 27px !important;}
.white-button{
    font-size: 18px;	
}
.mingshie {
    width: 21%;
    right: 8%;}
.black-rock {
    width: 10%;
    right: 15%;}
.blue-iron {
    right: 5%;
    margin-top: 300px;
}
.third-content-div {
    margin-top: 120px;
}
.roi-planet {
    width: 10%;
}
.four-content-div {
    margin-top: 120px;
}
.starry-bg {
    padding-bottom: 250px;
}
.middle-text-div {
    margin-top: 90px;
}
.moon-height {
    min-height: 600px;
}
.explain-p {
    width: 40%;}
.contact-big-div {
    width: 60%;}
.left-img-div2 {
    height: 200px;
}
.blog-inner-div {
    width: 70%;}
}

@media all and (max-width: 1375px){	
.purple-tree3, .orange-tree3{
	width: 100%;
}


}
@media all and (max-width: 1360px){	
.left-img{
	width:190px;
	}
.right-img{
	width:190px;	
}

.thousand-h2 {
    font-size: 32px;}
.thousand-p3 {
    font-size: 21px;
}
.four-box-p{
    font-size: 23px;	
}
.menu-white .red-hover{
	color:#c3c3c3;	
}
.tart-menu  .red-hover{
	color:white;	
}
.menu-bg .red-hover{
	color:white;	
}
.blog-menu .black-text{
	color:black;}
.white-menu-bg .red-hover {
    color: #a71d32;
}
.grey-dropdown {
    display: inline-block;
}
.white-dropdown{
	display:none;}
}
@media all and (max-width: 1330px){	
.testi-item {
    min-height: 320px;
}
}
@media all and (max-width: 1300px){	
.slogan-p {
    margin-top: -12px;
    font-size: 24px;
	margin-left: 20px;
}
.article-padding {
    padding-left: 10%;
    padding-right: 10%;
}
.white-box-div {
    width: 80%;
}
.third-content-div {
    margin-top: 120px;
}
.four-content-div {
    margin-top: 120px;
}
.left-detail-div{
    width: 45%;
    margin-top: 20px;	
}
.right-ani-pic {
    width: 45%;
}
.blue-bg2{
    padding-bottom: 250px;	
}
.left-bird{
	width:50px;}
.right-bird{
	width: 40px;
}
}
@media all and (max-width: 1262px){	
.pack-color {
    min-height: 184px;
}

}
@media all and (max-width: 1250px){	


.third-row-second-div {
   margin-top: 50px;}
.thousand-p {
    font-size: 27px;
} 
}
@media all and (max-width: 1225px){
.package-box {
    width: 31%;}
.middle-package-box {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.pack-color {
    min-height: 0;
}	
.package-50 {
    width: 50%;
}
.three-btn-size {
    width: 31%;}
.middle-three-btn {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
}

@media all and (max-width: 1200px){	
.thousand-h1{
	font-size: 42px;
	margin-top: 0;
}
.thousand-p {
    font-size: 27px;
}
.thousand-p2 {
    font-size: 24px;
}
.gradient-border {
    width: 70px;}
.right-img{
	margin-top: 130px;}
.left-img {
    width: 170px;
}
.arrow-img {
    width: 30px;
}
.login-modal-content {
    width: 50%;}
.left-content-top {

    margin-top: 120px;}
.white-ul li {
    font-size: 17px;}
.right-img-div2 {
    margin-top: 60px;
}
.explain-p {
    width: 50%;
}
.white-box-css .bigger-p {
    min-height: 50px;
	margin-bottom:20px;
    font-size: 17px;
}
.cloud-div {
    width: 400px !important;
	margin-top:70px !important;
}
.bold-detail-p {
    font-size: 24px;}
.normal-detail-p {
    font-size: 16px;}
.infi-right-div {
    padding-right: 30px;
    padding-left: 50px;}
.blog-content iframe {
    height: 400px !important;
}
}
@media all and (max-width: 1155px){	
.input-name {
    font-size: 18px;
	margin-top: 12px;
}
.input-message{
	margin-top: 12px;
	font-size: 18px;
}
.input-submit {
    font-size: 21px;}
}

@media all and (max-width: 1150px){	
.blog-aa2 {
    font-size: 16px;
    width: 110px;}
.blog-title-h2 {
    min-height: 116px;
}
}
@media all and (max-width: 1140px){	
.pack-color {
    min-height: 155px;
}
.red-sticker{
	margin-top: -60px;
}
}
@media all and (max-width: 1130px){	
.contact-us-form{
	padding-bottom: 60px;
}

}
@media all and (max-width: 1128px){	
.pack-color {
    min-height: 184px;
}
}
@media all and (max-width: 1120px){	
.testi-item {
    min-height: 360px;
}

}
@media all and (max-width: 1100px){	
.four-image {
    width: 50%;
}
.blog-title-h2 {
    font-size: 16px;
}
.blog-date {
    font-size: 12px;}
.blog-desc {
    font-size: 14px;
}
.advanced-marketing-planet-red {
    margin-left: 1%;
}
.blog-title-h2 {
    min-height: 60px;
}
.middle-text-div {
    margin-top: 40px;
}
.moon-height {
    min-height: 480px;
}
.slight-top {
    margin-top: 50px !important;
}
.thousand-p {
    font-size: 21px;
}
.first-div-p b {
    font-size: 27px;
}
.faq-div {
    width: 85%;
}
.question-div{
    font-size: 18px;	
}
}
@media all and (max-width: 1070px){
.pack-b{
	font-size: 24px;
}
.pack-ul li, .pack-p {
    font-size: 18px;
}
}
@media all and (max-width: 1045px){
.radio1 {
    min-height: 70px;
    margin-top: -23px;	}
.slick-slide {
    margin: 0px 10px;
}	
}
@media all and (max-width: 1030px){
.sky1-right {
    margin-top: 230px;
}
}
@media all and (max-width: 1015px){	
.purple-tree3, .orange-tree3 {
    display: none;
}
.purple-tree4, .orange-tree4 {
    display: block;
    position: absolute;
	width: 85%;
}
.right-img {
    margin-top: 170px;
	width: 140px;
}
.art-h12 {
    font-size: 27px;
}
}
@media all and (max-width: 1000px){	
.first-left-div {
    margin-top: 140px;}	
.thousand-h1 {
    font-size: 36px;}
.gradient-border {
    width: 60px;}

.left-img {
    width: 120px;
}
.right-img {
    margin-top: 170px;
    width: 120px;
}
.big-blog-css {
    padding-bottom: 250px;
}
.white-box-div {
    width: 80%;
}
.blue-planet {
    margin-left: 5%;
}
.gold-planet {
    margin-left: -2%;
}
.star-img {
    width: 12px;
}
.first-content-div {
    margin-top: 150px;
}
.left-pink-planet {
    margin-left: 0;}
.black-rock {
    right: 10%;
}
.blue-iron {
    margin-top: 220px;
}
.left-content-top {
    margin-top: 70px;
	width: 40%;
}
.art-h1 {
    font-size: 27px;
}
.art-p {
    font-size: 18px;
}
.left-detail-div {
    padding-top: 0;
    padding-bottom: 0;
}
.explain-p {
    width: 60%;
}
.big-notice {
    width: 70%;
}
.cloud-div {
    width: 320px !important;
    margin-top: 0 !important;
}
.bold-detail-p {
    font-size: 20px;
    margin-top: 130px;
}
.normal-detail-p {
    font-size: 14px;
    margin-top: 0;
}
.left-bird{
	margin-top: 80px;
	width: 30px;	
}
.right-bird {
    width: 25px;
    margin-top: 60px;
}
.blue-bg2 {
    padding-bottom: 180px;
}
.blog-inner-div {
    width: 80%;
}
}

@media all and (max-width: 970px){
.third-row-second-div {
    margin-top: 0;
}	
	
}
@media all and (max-width: 950px){
.pack-b {
    font-size: 21px;
}
.pack-ul li, .pack-p {
    font-size: 16px;
}
.pack-btn {
    width: 110px;
    font-size: 16px;
    padding: 5px;}
.bottom-bg {
    padding: 20px 8%;
}
.moon-bg2{
	padding-top:20px;}
}
@media all and (max-width: 940px){
.color-box .thousand-h3a {
    font-size: 21px;
}
.pack-color {
    min-height: 162px;
}
}
@media all and (max-width: 930px){
.blog-aa2 {
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    margin-left: 10px;
}}
@media all and (max-width: 920px){
.testi-logo, .left-logo-div {
    width: 40px;
}
.right-detail-div {
    width: calc(100% - 40px);}
.testi-title{
	font-size: 14px;
}
.review-png {
    width: 50px;
}
.review-p {
    margin-top: 3px;
}
.review-info-p {
    margin-top: 10px;
    font-size: 14px;
}
.testi-item {
    min-height: 300px;
}
}
@media all and (max-width: 900px){
.thousand-h2 {
    font-size: 27px;
}
.thousand-p3 {
    font-size: 18px;
}
.four-box-p {
    font-size: 19px;
}
.thousand-h3 {
    font-size: 24px;}
.contact-p {
    font-size: 18px;
    word-break: break-word;
}	
.web-span{
	display:none;}
.tel-a{
	display:block;
	color:#d60d26;}	
.small{
	font-size: 14px;
    margin-bottom: 25px;
	}
.right-img {
    margin-top: 200px;
    width: 70px;
}
.four-div-mh {
    min-height: 200px;
	margin-bottom: 10px;
}
.five-div-p {
    font-size: 15px;
}
.three-div {
    width: 28%;
}
.middle-3-div {
    margin-left: 8%;
    margin-right: 8%;
}
.moon-height {
    min-height: 390px;
}
.middle-text-div {
    width: 55%;
    margin-left: 22.5%;}
.thin-detail-p {
    font-size: 21px;
}
.left-detail-p {
    font-size: 18px;}
.white-box-css {
    padding: 20px 30px;
}
.white-ul li {
    font-size: 16px;
}
.right-img-div2 {
    margin-top: 100px;
}
.bold-price, .line-through-price {
    font-size: 24px;}
.price500 {
    font-size: 18px;}
.slogan-p2 {
    font-size: 16px;}
.moon-bg2 {
    background-image: none;}
}
@media all and (max-width: 885px){
.testi-item {
    min-height: 330px;
}
}
@media all and (max-width: 875px){
.package-box {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 0;
}
.box-content-div{
    min-height: 0;	
	}
.package-box{
	border: 1px solid #e4e4e4;
    border-radius: 25px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.middle-package-box{
	margin-top: 30px;
}
.package-img {
    width: 30%;
    margin-top: 20px;
}
.coming-p {
    font-size: 27px;
}
.five-row-div{
	display:block !important;}
.pack-color {
    min-height: 0;
}
.red-sticker {
    margin-top: -40px;
	margin-left: 3.5%;
}

.smallest-p {
    margin-top: -35px;
}
.mobile-disappear{
	display:none;}
.mobile-appear{
	display:block;}
.w100-btn {
    width: 80%;
    margin-left: 10%;
	margin-top: 30px;
    margin-bottom: 50px;
		font-size: 16px;
}

}


@media all and (max-width: 860px){
.left-content{
	padding-right: 3.5%;
}
.contactus-row {
    margin-top: 20px;
}
.article-padding {
    padding-left: 5%;
    padding-right: 5%;
}
}
@media all and (max-width: 850px){
.first-left-div {
    margin-top: 90px;
}
.thousand-h1 {
    font-size: 28px;
    margin-bottom: 10px;
}


.first-left-div {
    margin-top: 130px;
}
.first-border {
    width: 25px !important;
}
.slogan-p {
    margin-top: -8px;
    font-size: 18px;
    margin-left: 10px;
}
.blog-aa {
    font-size: 18px;}

}
@media all and (max-width: 840px){
.purple-tree4, .orange-tree4 {
	width: 100%;
}
.contact2-p{
	font-size: 18px;
}
}
@media all and (max-width: 830px){
.pack-b {
    font-size: 19px;
}
}
@media all and (max-width: 800px){
.four-div {
    width: 45%;
	margin-bottom: 40px;
}
.four-image {
    width: 40%;
}
.middle-4-div {
    margin-left: auto;
    margin-right: auto;
}
.four-second-div {
    margin-left: 10%;
}
.same-padding {
    padding-left: 4.5%;
    padding-right: 4.5%;
}
.four-box-p{
    min-height: 50px;
	margin-bottom: 0;	
}
.empty-div{
	display:none;}
.ow-margin1{
	margin-left:0;
	margin-right:10%;}
.six-row-div{
	padding-left: 4.5%;
}
.left-content {
    padding-right: 0;
}
.radio1 {
    min-height: 100px;
    margin-top: -38px;
}
.big-blog-css{
	display: block;	
}
.left-blog-div, .right-blog-div {
    width: 100%;
    float: none;
	margin-left:0;
	display: flex;
	margin-bottom: 25px;}
.big-image-div, .big-blog-content {
    width: 50%;}
.content-marketing-bg{
	background-image:url(../img/thousand-media/content-marketing.jpg);
}
.big-image-bg{
	background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}
.graphic-design-bg{
	background-image:url(../img/thousand-media/graphic-design.jpg);
    background-position: top left;	
}
.online-business-bg{
	background-image:url(../img/thousand-media/online-business0.jpg);
}
.wage-bg{
	background-image:url(../img/thousand-media/rm600-wage-subsidy.jpg);
}
.blog-img{
	display:none;}
.blog-title3{
    margin-bottom: 20px !important;	
}
.white-button{
	padding-bottom:6px;
	padding-top:5px;
	
}
.three-middle {
    margin-left: 0;
    margin-right: 0;
}
.three-one-small-div {
    width: calc(50% - 20px);
	margin-right: 20px;}
.first-content-div {
    margin-top: 100px;
}
.galaxy-h1-title {
    font-size: 24px;
}
.explanation-p {
    font-size: 15px;
	margin-bottom: 0px;
}
.details-p {
    width: 50%;
    font-size: 14px;
	margin-top: 15px;}
.second-content-div {
    margin-top: 50px;
}
.galaxy-h1-title2 {
    font-size: 24px;
}
.white-box-div {
    padding: 20px 30px;}
.li-p {
    font-size: 15px;
}
.pink-radius-button {
    font-size: 18px;}
.li-p {
    width: 80%;}
.third-content-div {
    margin-top: 90px;
}
.mingshie {
    margin-top: 40px;
}
.black-rock {
    right: 5%;
	margin-top: -100px;
}
.blue-iron {
    margin-top: 150px;
}
.advanced-marketing-planet {
    width: 8%;
}
.third-content-div .li-p {
    width: 100%;
}
.four-content-div .li-p {
    width: 100%;
}
.marketing-rocket {
    width: 10%;
    margin-left: 0%;
}
.halo-planet {
    width: 12%;
}
.four-content-div {
    margin-top: 90px;
}
.starry-bg {
    padding-bottom: 150px;
}
.blog-title-h2 {
    min-height:0;
}
.padding-bottom-0-important {
    padding-bottom: 0 !important;}
.mobile-margin-top{
	margin-top: -15px !important;
}
.left-content-top {
    margin-top: 50px;
    width: 45%;
}
.middle-text-div {
    margin-top: 20px;
}
.artz-h1 {
    font-size: 27px;
}
.explain-p {
    width: 70%;
}
.cloud-div{
	min-height:200px;
	margin-right: 4.5%;}
.bold-detail-p {
    margin-top: 80px;
}
.infi-right-div {
    padding-right: 20px;
    padding-left: 20px;
}
.third-row-first-div {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.faq-div {
    width: 100%;
}
.contact-big-div {
    width: 91%;}
.radio1 {
    min-height: 0 !Important;
    margin-top: 0 !Important;

}
.blog-inner-div {
    width: 90%;
}
.refer-modal-content .title-h1 {
    font-size: 18px;
    margin-bottom: 0;
}	
.step-p {
    font-size: 16px;
    margin-top: 20px;
	margin-bottom:15px;
	width:100%;
}
.tutorial-div img {
    width: 100%;
    margin-left: 0;}
.refer-modal-content {
    width: 90%;
}
.notice-modal-content {
    width: 70% !important;}
}
@media all and (max-width: 780px){
.thousand-h2 {
    font-size: 24px;
}
.thousand-p3 {
    font-size: 16px;
}
.four-box-p {
    font-size: 17px;
}
}
@media all and (max-width: 750px){
.sky2{
	display:block;
	width: 85%;}
.sky1{
	display:none;}
.contact2-p{
	word-break: break-word;
}
.login-modal-content {
    width: 80%;
}
.pack-b{
    min-height: 70px;	
}
.pack-ul {
    padding-left: 20px;
}
}

@media all and (max-width: 740px){
.article-padding {
    padding-left: 7.5%;
    padding-right: 7.5%;
}
}
@media all and (max-width: 735px){
.contact2-p {
    font-size: 15px;
}	


}
@media all and (max-width: 730px){
.moon-height {
    min-height: 330px;
}
.art-h12 {
    font-size: 24px;
}
}
@media all and (max-width: 720px){
.thousand-h1 {
    font-size: 24px;}	
.gradient-border {
    width: 40px;
    height: 3px;
}
.thousand-p {
    font-size: 18px;
    word-spacing: 3px;
}	
.thousand-p2 {
    font-size: 18px;
    margin-top: 40px;
}
.third-row-second-div {
    width: 100%;
    float: none;
}

.third-row-first-div{
    width: 100%;
    float: none;	
}
.third-row-second-div {
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.second-gradient{
	text-align:center;
	margin-left:auto;
	margin-right:auto;}
.row-4-p {

    width: 65%;}
.arrow-img {
    width: 20px;
}
.third-row{
	margin-bottom: 100px;}
.thousand-p {
    font-size: 16px;}
.first-div-p b {
    font-size: 18px;
    font-weight: 700;
}
.gradient-border{
	margin-top: 3px;
}
.third-row-first-div {
    width: 75%;
    float: none;
    margin: 0 auto;
}
.third-row {
    margin-bottom: 0;
}
}
@media all and (max-width: 700px){
.blog-aa2{
	margin-bottom: 10px;}
.three-div {
    width: 100%;
	padding-left:7.5%;
	padding-right:7.5%;
	margin-left:0;
	margin-right:0;
	    margin-top: 50px;
}
.art-h1 {
    font-size: 24px;
}
.art-p {
    font-size: 16px;
}
.right-img-div2 {
    margin-top: 180px;
}
.white-box-css .three-div {
    width: 31%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
	float:left;
}
.white-box-css .middle-3-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.big-notice {
    width: 95%;
}
.infi-right-div{
	margin-top: 50px;	
}
.bold-price, .line-through-price {
    font-size: 18px;
}
.slogan-p2 {
    font-size: 14px;
}
.price500 {
    font-size: 14px;
}
.small-note {
    font-size: 12px;
}
.blog-inner-div {
    width: 100%;
}
.blog-content iframe {
    height: 320px !important;
}
}
@media all and (max-width: 690px){
.testi-item {
    min-height: 380px;
}
}
@media all and (max-width: 680px){
.sky2a {
    margin-top: 200px;
}	
	
}
@media all and (max-width: 670px){
.gift-h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.tzexin {
    width: 12%;
}
.left-pink-planet {
    width: 6%;
}
.gold-planet {
    margin-left: 0;
    width: 3%;
}
.roi-planet {
    width: 10%;
    margin-left: 0;
}
.mingshie {
    width: 21%;
    right: 7%;
    margin-top: 60px;
}
.blue-iron {
    right: 7%;
}
.advanced-marketing-planet {
    width: 8%;
    margin-left: 2%;
}
}
@media all and (max-width: 660px){
.first-left-div {
    margin-top: 100px;
}	
.thousand-h1 {
    font-size: 21px;
}
.thousand-p {
    font-size: 17px;}
}

@media all and (max-width: 650px){
.category-div {
    width: 110px;
    float: left;
}
.category-div-button {
    float: left;
    width: calc(100% - 110px);
}
.left-detail-div{
	margin-top:0;}
.explain-p {
    width: 100%;
}
.cloud-div {
    width: 250px !important;
    margin-top: 0 !important;
	min-height: 150px;
	padding:0;
}
.bold-detail-p {
    margin-top: 65px;
    margin-bottom: 2px;
}
.normal-detail-p {
    font-size: 12px;}

}
@media all and (max-width: 640px){
.second-right-img {
    width: 80px;
}
.contact-us-form {
    padding-left: 10px;
    padding-right: 10px;
}
.input-name {
    font-size: 16px;
    margin-top: 8px;
}
.input-message {
    margin-top: 8px;
    font-size: 16px;
}
.slight-top {
    margin-top: 20px !important;
}
}
@media all and (max-width: 630px){
.slogan-p{
	font-size: 14px;
}	
.first-border {
    width: 12px !important;
}	
.thousand-p {
    font-size: 15px;
}
.first-div-p b {
    font-size: 16px;}
.gradient-border {
    margin-top: 2px;
}
}
@media all and (max-width: 625px){
.coming-p {
    font-size: 21px;
}
.left-content {
    padding-right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.six-row-div{
	padding-right: 4.5%;
}
.right-img-div {
    width: 55%;
    margin-right: -4.8%;
    margin-top: -75px;
}
.three-one-small-div {
    width: calc(100% - 20px);
    margin-right: 20px;
}

}
@media all and (max-width: 620px){
.web-view1{
	display:none;}
.mobile-view1{
	display:block;}
.left-content-top {
    margin-top: 60px;
    width: 70%;
}
.question-div, .answer-div{
	    font-size: 16px;
}
}
@media all and (max-width: 610px){
.logo-img {
    width: 50px;
}	
.red-hover{
	font-size: 12px;
	padding-right: 7px;
}
.right-menu-div {
    padding-top: 5px;
}
.four-row-div{
	padding-bottom: 100px;
}
}
@media all and (max-width: 600px){
.box-p {
    font-size: 16px !important;}	
.big-image-div{
	width:35%,
}
.big-image-div{
	width:65%,
	}
.article-padding {
    padding-left: 0;
    padding-right: 0;
}
.details-p {
    width: 60%;}
.art-h12 {
    font-size: 16px;
    margin-top: 20px;
}
.right-img-div2 {
    margin-top: 250px;
}
.left-bird {
	margin-top: 50px;
    left: 18%;
}
.right-bird {
    margin-top: 40px;
}
.blue-bg2 {
    padding-bottom: 150px;
}
.testi-item {
    min-height: 430px;
}
.slick-slide {
    margin: 0px 5px;
}
.slick-prev {
    left: -18px;
}
.slick-next {
    right: -18px;
}
.left-img-div2 {
    height: 120px;
}
.aidex-input {
    font-size: 15px;
	margin-bottom: 10px;}
.password-input-div{
	margin-bottom:10px;}
.mobile-width100 {
    width: 100%;
}
.notice-modal-content {
    width: 90% !important;
}
}
@media all and (max-width: 580px){
.left-img {
    width: 90px;
}
.bulb-img{
	width: 90px;
}
.second-right-img {
    width: 50px !important;
}
.left-content{
	width:90%;}
.six-row-div {
    padding-top: 50px;}
.right-img-div {
    margin-top: -110px;
}
.tzexin {
    width: 8%;
    margin-top: 50px;
}

}
@media all and (max-width: 550px){
.thousand-h1 {
    font-size: 20px;
	color:white
}
.first-left-div {
    margin-top: 80px;
}

.mobile-rocket{
	display:block;}
.web-rocket{
	display:none;}


.first-div-p{
	color:white;
	margin-top:10px}
.first-div-b{
	color:white;}
.red-hover{
	color:white;}
.mobile-logo{
	display:inline-block;}
.web-logo{
	display:none;}
.menu-bg{
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
	
	}
.web-rocket2{
		display:none;}
.row-4-p{
	margin-top:0;}
.five-div {
    width: 31%;}
.left-five-div{
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.right-five-div {
    clear: both;
    margin-left: 0;
    margin-right: 3.5%;
}
.slogan-p{
	    margin-left: 12px;
}
.menu-white .red-hover {
    color: #ffffff;
}
.blog-menu .black-text {
    color: black;
}
.left-blog-div, .right-blog-div{
	display:block;}
.big-image-div, .big-blog-content{
	width:100%
}
.blog-img {
    display: block;
}
.blog-title3{
	color:#565656;	
}
.blog-title{
	color:#565656;}
.article-title{
	text-align:left;}
.blog-gradient{
	float:left;}
.halo-planet {
    margin-top: 35px;
}
.white-box-css .bigger-p {
    min-height: 55px;
    margin-bottom: 20px;
    font-size: 15px;
}
.white-menu-bg .red-hover {
    color: #a71d32;
}
.grey-dropdown {
    display: none;
}
.white-dropdown {
    display: inline-block;
	height: 6px;
}
.infi-right-div {
    margin-top: 160px;
}
.pack-btn {
    width: 100%;}
.pack3 .pack-btn {
	width: 92%;
}
.pack-b {
    font-size: 16px;
    font-weight: 700;
}
.pack-ul li, .pack-p {
    font-size: 14px;}
.bold-price, .line-through-price, .small-just {
    font-size: 15px;
}
.slogan-p2 {
    font-size: 12px;
}
.price500 {
    font-size: 12px;
}
.small-note {
    font-size: 10px;
}
.blog-content iframe {
    height: 270px !important;
}

}
@media all and (max-width: 540px){
.contact2-p {
    font-size: 14px !important;
}
.contact-right-content {
   width: calc(100% - 20px);
}
.contact-icon{
	width: 20px;
}
.contactus-graphic {
    width: 20%;
}
.contact-us-form {
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
}
.sky2{
	width:100%;}
.sky2a {
    margin-top: 350px;
}
}
@media all and (max-width: 535px){
.second-right-img{
	margin-top:100px !important;}	
.testi-item {
    min-height: 480px;
}	
}
@media all and (max-width: 530px){
.third-row {
    margin-bottom: 70px;
}	
.third-row {
    margin-bottom: 0;
}	
}
@media all and (max-width: 525px){
.width50 {
    width: 100%;
    margin: 0;
    float: none;
}
.width50 ul {
    margin: 0;
}
}
@media all and (max-width: 500px){
.right-img {
    margin-top: 190px;
    width: 70px;
}
.opt-msg{
	font-size: 14px;
}
.input-submit {
    font-size: 18px;
}
.footer-p{
	font-size: 14px;
}
.box-p {
    font-size: 18px;
}
.marketing-mp {
    width: 80%;
}
.star-img{
    width: 9px;
}
 .star-img2 {
    width: 12px;}
.details-p {
    width: 80%;
}
.white-box-div {
    width: 100%;
}
.li-p {
    width: 100%;
}
.blue-planet {
    margin-top: -410px;}
.mingshie {
    margin-top: 40px;
}
.blue-iron {
    margin-top: 0px;
}
.advanced-marketing-planet{
	margin-top: -500px;
}
.black-rock {
    margin-top: 0px;
}
.advanced-marketing-planet-red {
    margin-left: -1%;
}
.marketing-rocket {
    margin-top: -80px;}
.halo-planet {
    margin-top: 15px;
}
.right-ani-pic {
    width: 70%;
    margin: 20px auto;
    float: none;
}
.left-detail-div {
    margin: 0 auto;
    float: none;
    width: 70%;
    padding-top: 1px;
    padding-bottom: 1px;
}
.left-li-div {
    float: none;
    width: 100%;
	overflow: hidden;
}
.right-img-div2 {
    margin-top: 30px;
	width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;	
}
.white-box-css {
    padding: 20px 0px;
}
.artz-h1 {
    font-size: 24px;
}
.inifi-left-div {
    float: none;
    width: 100%;
}
.infi-right-div {
    margin-top: 30px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0;
}
.third-row-second-div {
    width: 100%;}
.three-pack {
    display: block;}
.pack {
    width: 100%;
	text-align: center;
}
.divider {
    width: 100%;}
.bottom-bg {
    padding-right: 12% !important;
}
.pack-ul, .pack-p {
    min-height: 0;
	margin-bottom:20px;
	font-size:16px;
    text-align: center;}
.pack-b {
    min-height: 0;
	font-size: 18px;
	text-align: center;
}
.bottom-bg {
    padding: 20px 12%;
}
.pack3 .pack-btn {
    width: 100%;
}
.moon-bg2 {
    padding-right: 0;
}
.padding-right-add {
    padding-right: 12%;
}
.regular2{
	display:block;}
.regular{
	display:none;}
.testi-item {
    min-height: 340px;
}
.two-square-btn {
    margin-top: 10px;
}
.two-div-width {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
	clear:both;
	overflow: hidden;}
.left-img-div2 {
    height: 180px;
}
}
@media all and (max-width: 470px){

.thousand-h1 {
    font-size: 18px;
}	
.gradient-border {
    width: 25px;
    height: 3px;
}
.thousand-p {
    font-size: 15px;
}	
.red-hover{
	display:none;	
}	
.red-hover2{
	display:inline-block;	
}
.menu-img {
    width: 25px;
}	
.right-menu-div {
    padding-top: 0;
}
.category-div {
    width: 90px;}
.category-div-button {
    float: left;
    width: calc(100% - 90px);
}
.blog-aa {
    font-size: 16px;
}
.moon-height {
    min-height: 260px;
}
.art-h12 {
    margin-top: 0;
}
.admin-header .red-hover{
	display:inline-block;
	padding-right: 4px;}
}
@media all and (max-width: 460px){
.red-sticker {
    width: 70px;
}	
}
@media all and (max-width: 455px){
.special-m-height{
	min-height:63px;}


}
@media all and (max-width: 450px){
.right-img-div {
    margin-top: -80px;
	width: 60%;
}
.ad-mh{
	min-height:63px;}
.six-row-div{
	padding-bottom: 30px;
}
.input-name, .input-message {
    font-size: 14px;}
.thousand-h2 {
    font-size: 21px;
}	
.blog-title3 {
    font-size: 21px !important;
	margin-bottom: 15px !important;}
.white-button {
    font-size: 16px;
}
.left-content-top {
    margin-top: 40px;}
.left-content-top .art-h1 {
    margin-bottom: 0;
}
.left-content-top .art-p {
    margin-top: 5px;
}
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
}
.password-input-div {
    margin-bottom: 20px;
}
}
@media all and (max-width: 440px){

.thousand-h2 {
    font-size: 21px;
}	
.second-right-img {
    margin-top: 55px !important;
}
.box-img {
    width: 85%;
}
.second-left-img {
    width: 60px;
}
.second-right-img {
    margin-top: 185px !important;
	width: 40px !important;
}
.radio1 {
    min-height: 150px;
    margin-top: -65px;
}
}
@media all and (max-width: 435px){
.testi-item {
    min-height: 380px;
}
}
@media all and (max-width: 425px){
.thousand-h3a {
    font-size: 21px;
}
.box-p {
    font-size: 18px;
}
.package-box {
    width: 100%;}
.red-sticker{
	margin-left: -4.5%;}
.smallest-p {
    width: 100%;
}
.w100-btn {
    width: 100%;
    margin-left: 0;

}
}
@media all and (max-width: 420px){
.input-submit{
	width:100%;}	
	
}
@media all and (max-width: 400px){
.thousand-p2 {
    font-size: 16px;}
.arrow-p {
    margin-top: 0;
}
.left-img {
    width: 70px;
}
.arrow-img {
    width: 15px;
}
.second-left-img {
    width: 40px !important;
}
.second-right-img {
    margin-top: 175px !important;
    width: 25px !important;
}
.thousand-h3 {
    font-size: 21px;
    margin-bottom: 15px;
}
.contactus-graphic {
    width: 15%;
}
.contact-us-form{
	width: 70%;
}
.galaxy-h1-title {
    font-size: 21px;
}
.first-content-div {
    margin-top: 80px;
}
.left-pink-planet {
    margin-top: 0px;}
.details-p {
    width: 100%;
}
.galaxy-h1-title2 {
    font-size: 21px;
}
.li-p {
    font-size: 14px;
}
.roi-planet {
    margin-top: 30px;}
.pink-radius-button {
    width: 100%;}
.pink-radius-button {
    font-size: 16px;
}
.blue-iron {
    margin-top: 7px;
}
.advanced-marketing-planet {
    margin-top: -470px;
}
.black-rock {
    margin-top: 30px;
}
.starry-bg {
    padding-bottom: 100px;
}
.art-h1 {
    font-size: 21px;
}
.art-p {
    font-size: 14px;
}
.left-content-top {
    width: 73%;
}
.moon-height {
    min-height: 220px;
}
.art-h12 {
    font-size: 14px;}
.left-detail-div {
    width: 100%;}
.artz-h1 {
    font-size: 21px;
}
.slick-prev:before, .slick-next:before{
    font-size: 12px;	
}
.slick-prev {
    left: -12px;
}
.slick-next {
    right: -12px;
}
.answer-div {
    font-size: 14px;
}
.left-img-div2 {
    height: 150px;
}

.blog-inner-div iframe {
    height: 220px !important;
}
}
@media all and (max-width: 390px){
.special-m-height {
    min-height: 84px;
}	
	
}
@media all and (max-width: 380px){
.thousand-p {
    font-size: 12px;
}
.first-div-p b {
    font-size: 14px;
}
.testi-item {
    min-height: 420px;
}

}
@media all and (max-width: 370px){
.white-box-css .bigger-p {
    min-height: 75px;}

}
@media all and (max-width: 365px){
.testi-item {
    min-height: 460px;
}


}
@media all and (max-width: 360px){
.contact-p{
    font-size: 16px;	
}
.contact-left-icon{
	width:25px;}
.social-icon {
    width: 30px;
}
}

@media all and (max-width: 350px){
.blog-title3 {
    font-size: 19px !important;}
.white-button {
    font-size: 14px;
}
}
@media all and (max-width: 345px){
.testi-item {
    min-height: 500px;
}


}
@media all and (max-width: 340px){
.left-content-top .art-h1 {
    font-size: 18px;
}
.moon-height {
    min-height: 190px;
}
.art-h12 {
    font-size: 12px;
}
.menu-padding {
    padding-right: 10px;
}
}
@media all and (max-width: 330px){
.contact-p {
    font-size: 14px;
}

}
@media all and (max-width: 325px){
.testi-item {
    min-height: 550px;
}
}
@media all and (max-width: 320px){
.blog-aa2 {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 7px;}	
.radio1 {
    min-height: 170px;
    margin-top: -75px;
}
.right-img-div {
    width: 50%;
}	
}
@media all and (max-width: 315px){
.radio1 {
    min-height: 190px;
    margin-top: -85px;
}	
	
}