@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
/*Start*/
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.logo-img {
    width: 60px;
}
.big-container-size {
    margin-top: 10px;
}
.padding-left{
	padding-left:7.5%;}
.header1{
    z-index: 2;
	width:100%;
	padding-bottom: 10px;
}
.second-row{
	z-index:-1;}
.menu-padding {
    padding-right: 15px;
}
.red-hover:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	
}	
.first-left-div {
    margin-top: 180px;
	width:50%;
	padding-right: 5%;
}
.first-right-div {
	width:50%;	
}
.thousand-h1 {
    font-weight: 900;
    font-size: 56px;
	color: black;
}
.gradient-border{
	width:100px;
	height:5px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thousand-p {
    font-size: 36px;
}
.red-text{
	color:#d60d26;}
.third-row {
    margin-top: 50px;
	margin-bottom:150px;
}
.third-row-first-div {
    width: 50%;
}
.third-row-second-div {
    width: 50%;
    padding-left: 5%;
	margin-top: 100px;
}
.thousand-p2{
	font-size:32px;}
.menu-bg {
       background-color: rgba(232, 0, 0, 0.17);
}
.right-menu-div{
	padding-top: 10px;
}
.header1{
	padding-bottom: 10px;
}
.black-text{
	color:black;}
.left-img {
    position: absolute;
    margin-left: -7.5%;
	width: 220px;
}
.right-img {
    position: absolute;
    float: right;
	right:0;
	width: 240px;
    margin-top: 190px;
}
.bulb-img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.row-4-p {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.arrow-p {
    text-align: center;
}
.arrow-img {
    width: 50px;
}
.four-row-div {
    overflow: hidden;
    padding-bottom: 200px;
}
.box-img {
    width: 45%;
}
.thousand-h2 {
    font-size: 42px;
    color: black;
	margin-bottom:10px;
}
.thousand-p3 {
    font-size: 24px;
}
.four-div {
    width: 20%;
	margin-bottom: 50px;
}
.small{
	text-align:center;
	margin-top: 0;
    font-size: 21px;
    margin-bottom: 35px;
	}
.four-image {
    width: 40%;
}
.middle-4-div{
	margin-left:5%;
	margin-right:5%;}
.four-box-p {
    font-weight: 700;
    font-size: 27px;
    min-height: 66px;
}
.thousand-h3 {
    font-size: 32px;
    color: black;
}
.add-padding-top{
	padding-top:50px;}
.package-box{
	width:28%;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	-moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	float:left;
	overflow:hidden;
	border-radius: 20px;
	}
.middle-package-box{
	margin-left:8%;
	margin-right:8%;
	
}
.thousand-h3a {
    font-size: 28px;
}
.color-box{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;}
.red-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.orange-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #f7941d 0%, #f4a21e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f7941d 0%,#f4a21e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f7941d 0%,#f4a21e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.golden-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #bc8b00 0%, #dd9e00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #bc8b00 0%,#dd9e00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fbc8b00 0%,#dd9e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.box-content-div{
	padding:15px;
	min-height:753px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	overflow:hidden;}
.left-icon {
    width: 35px;
}
.right-content{
	width:calc(100% - 35px);
	padding-left:12px;}
.box-p {
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 0;
}
.one-row{
	margin-bottom:15px;
	clear:both;
	overflow:hidden;}
.ow-gradient-width{
	width:100% !important;
	height:3px !important;}
.coming-p {
    font-size: 36px;
}
.package-img {
    width: 80%;
	margin-top: 150px;
}
.six-row-div {
    padding-top: 100px;
	padding-left:7.5%;
    padding-bottom: 100px;	
}
.left-content {
    width: 50%;
    padding-right: 7.5%;
}
.social-icon {
    width: 40px;
}
.social-icon2{
	margin-left:20px;
}
.right-img-div{
	width:45%;}
.hover-opacity:hover{
	cursor:pointer;
	opacity:0.75;
	transition:.15s ease-in-out;}
.low-weight{
	font-weight:300;}
.contactus-row{
	margin-top:120px;}
.contactus-graphic {
    width: 25%;
}
.contact-us-form {
    width: 50%;
	padding-left: 5%;
    padding-right: 5%;
}
.extra-margin{
	margin-top:25px;
	margin-bottom: 30px;}
.input-name {
    width: 100%;
    font-size: 24px;
    padding: 5px;
	margin-top: 18px;
	border: 2px solid #a9151c;
    border-radius: 8px;
}
.input-message {
    margin-top: 18px;
    width: 100%;
    min-height: 150px;
    border: 2px solid #a9151c;
    border-radius: 8px;
    font-size: 24px;
    padding: 5px;
	margin-bottom: 5px;
}
.radio1 {
    min-height: 50px;
	margin-left:0;
}
.opt-msg {
    width: calc(100% - 17px);
    float: left;
    padding-left: 10px;
}
.input-submit {
    font-size: 24px;
    border: 0;
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    padding-top: 3px;
    margin-top: 20px;
    border-radius: 8px;
}
.footer-div{
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}
.footer-p {
    margin: 0;
    padding-bottom: 2px;
}
.red-hover2, .mobile-rocket{
	display:none;}
.mobile-logo{
	display:none;}
.tel-a{
	display:none;}
.content-img {
    bottom: 0;
}
.mobile-contact{
	display:none;}
.purple-tree3{
	display:block;
	position:absolute;
	width:70%;}
.orange-tree3{
	display:block;
	position:absolute;
	width: 80%;}	
.tree3-div{
	position:absolute;
	display:block;}	

.right0{
	right:0;}	
.purple-tree4, .orange-tree4{
	display:none;}
.sky2{
	display:none;}
/*Overwrite*/
.ow-padding-bottom{
	padding-bottom:30px !important;}
.ow-margin-bottom{
	margin-bottom:15px;	
}
@media all and (max-width: 1620px){	
.box-content-div{
	min-height:780px;
	
}

}
@media all and (max-width: 1600px){	
.input-name{
	font-size: 21px;
}
}
@media all and (max-width: 1556px){	
.footer-div{
	margin-top:0;}
.mobile-contact{
	display:block;}
.web-contact{
	display:none;}

}


@media all and (max-width: 1500px){	
.thousand-h1{
	font-size: 48px;
}
.thousand-p {
    font-size: 30px;
}
.thousand-p2 {
    font-size: 27px;
}
.orange-tree {
    margin-top: 82px;
    bottom: 0;
}

}
@media all and (max-width: 1470px){	
.box-content-div {
    min-height: 800px;
}

}



@media all and (max-width: 1400px){	
.thousand-h2 {
    font-size: 36px;}
.thousand-h3 {
    font-size: 28px;
    margin-bottom: 20px;}
.left-icon {
    width: 30px;
}	
.right-content {
    width: calc(100% - 30px);}
.box-p {
    font-size: 21px;}
.ow-gradient-width {
    height: 2px !important;
}
.box-content-div {
    min-height: 750px;
}
.thousand-h3a {
    font-size: 24px;
}
.coming-p {
    font-size: 32px;
}
}

@media all and (max-width: 1375px){	
.purple-tree3, .orange-tree3{
	width: 100%;
}


}
@media all and (max-width: 1360px){	
.left-img{
	width:190px;
	}
.right-img{
	width:190px;	
}

.thousand-h2 {
    font-size: 32px;}
.thousand-p3 {
    font-size: 21px;
}
.four-box-p{
    font-size: 23px;	
}

}

@media all and (max-width: 1250px){	
.red-hover{
	color:#cacaca;	
}
.menu-bg {
    background-color: rgb(255, 255, 255);
}
.third-row-second-div {
   margin-top: 50px;}
}
@media all and (max-width: 1225px){
.package-box {
    width: 31%;}
.middle-package-box {
    margin-left: 3.5%;
    margin-right: 3.5%;
}	
}

@media all and (max-width: 1200px){	
.thousand-h1{
	font-size: 42px;
	margin-top: 0;
}
.thousand-p {
    font-size: 27px;
}
.thousand-p2 {
    font-size: 24px;
}
.gradient-border {
    width: 70px;}
.right-img{
	margin-top: 130px;}
.left-img {
    width: 170px;
}
.arrow-img {
    width: 30px;
}
}
@media all and (max-width: 1155px){	
.input-name {
    font-size: 18px;
	margin-top: 12px;
}
.input-message{
	margin-top: 12px;
	font-size: 18px;
}
.input-submit {
    font-size: 21px;}
}
@media all and (max-width: 1130px){	
.contact-us-form{
	padding-bottom: 60px;
}

}
@media all and (max-width: 1120px){	
.box-content-div {
    min-height: 770px;
}

}
@media all and (max-width: 1105px){
.box-content-div {
    min-height: 925px;
}

}
@media all and (max-width: 1100px){	
.four-image {
    width: 50%;
}
}

@media all and (max-width: 1030px){
.sky1-right {
    margin-top: 230px;
}
}
@media all and (max-width: 1015px){	
.purple-tree3, .orange-tree3 {
    display: none;
}
.purple-tree4, .orange-tree4 {
    display: block;
    position: absolute;
	width: 85%;
}
.right-img {
    margin-top: 170px;
	width: 140px;
}
}
@media all and (max-width: 1000px){	
.first-left-div {
    margin-top: 140px;}	
.thousand-h1 {
    font-size: 36px;}
.gradient-border {
    width: 60px;}
.thousand-p {
    font-size: 24px;
	word-spacing: 4px;
}
.left-img {
    width: 120px;
}
.right-img {
    margin-top: 170px;
    width: 120px;
}
}
@media all and (max-width: 970px){
.third-row-second-div {
    margin-top: 0;
}	
	
}
@media all and (max-width: 900px){
.thousand-h2 {
    font-size: 27px;
}
.thousand-p3 {
    font-size: 18px;
}
.four-box-p {
    font-size: 19px;
}
.thousand-h3 {
    font-size: 24px;}
.contact-p {
    font-size: 18px;
    word-break: break-word;
}	
.web-span{
	display:none;}
.tel-a{
	display:block;
	color:#d60d26;}	
.small{
	font-size: 14px;
    margin-bottom: 25px;
	}
.right-img {
    margin-top: 200px;
    width: 70px;
}
}
@media all and (max-width: 875px){
.package-box {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 0;
}
.box-content-div{
    min-height: 0;	
	}
.package-box{
	border: 1px solid #e4e4e4;
    border-radius: 25px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.middle-package-box{
	margin-top: 30px;
    margin-bottom: 30px;
}
.package-img {
    width: 30%;
    margin-top: 20px;
}
.coming-p {
    font-size: 27px;
}
}


@media all and (max-width: 860px){
.left-content{
	padding-right: 3.5%;
}
.contactus-row {
    margin-top: 20px;
}
}
@media all and (max-width: 850px){
.first-left-div {
    margin-top: 90px;
}
.thousand-h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
.first-right-div {
    width: 60%;
}
.thousand-p {
    font-size: 21px;
    word-spacing: 4px;
}
.first-left-div{
	width:40%;}
.first-left-div {
    margin-top: 130px;
}
}
@media all and (max-width: 840px){
.purple-tree4, .orange-tree4 {
	width: 100%;
}
.contact2-p{
	font-size: 18px;
}
}
@media all and (max-width: 800px){
.four-div {
    width: 45%;
	margin-bottom: 40px;
}
.four-image {
    width: 40%;
}
.middle-4-div {
    margin-left: auto;
    margin-right: auto;
}
.four-second-div {
    margin-left: 10%;
}
.same-padding {
    padding-left: 4.5%;
    padding-right: 4.5%;
}
.four-box-p{
    min-height: 50px;
	margin-bottom: 0;	
}
.empty-div{
	display:none;}
.ow-margin1{
	margin-left:0;
	margin-right:10%;}
.six-row-div{
	padding-left: 4.5%;
}
.left-content {
    padding-right: 0;
}
}
@media all and (max-width: 780px){
.thousand-h2 {
    font-size: 24px;
}
.thousand-p3 {
    font-size: 16px;
}
.four-box-p {
    font-size: 17px;
}
}
@media all and (max-width: 750px){
.sky2{
	display:block;
	width: 85%;}
.sky1{
	display:none;}
.contact2-p{
	word-break: break-word;
}
}
@media all and (max-width: 735px){
.contact2-p {
    font-size: 15px;
}	


}
@media all and (max-width: 720px){
.thousand-h1 {
    font-size: 24px;}	
.gradient-border {
    width: 40px;
    height: 3px;
}
.thousand-p {
    font-size: 18px;
    word-spacing: 3px;
}	
.thousand-p2 {
    font-size: 18px;
    margin-top: 40px;
}
.third-row-second-div {
    width: 100%;
    float: none;
}

.third-row-first-div{
    width: 100%;
    float: none;	
}
.third-row-second-div {
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.second-gradient{
	text-align:center;
	margin-left:auto;
	margin-right:auto;}
.row-4-p {

    width: 65%;}
.arrow-img {
    width: 20px;
}
.third-row{
	margin-bottom: 100px;}
}
@media all and (max-width: 680px){
.sky2a {
    margin-top: 200px;
}	
	
}
@media all and (max-width: 670px){
.gift-h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


}
@media all and (max-width: 660px){
.first-left-div {
    margin-top: 100px;
}	
.thousand-h1 {
    font-size: 21px;
}
.thousand-p {
    font-size: 17px;}
}
@media all and (max-width: 640px){
.second-right-img {
    width: 80px;
}
.contact-us-form {
    padding-left: 10px;
    padding-right: 10px;
}
.input-name {
    font-size: 16px;
    margin-top: 8px;
}
.input-message {
    margin-top: 8px;
    font-size: 16px;
}
}

@media all and (max-width: 625px){
.coming-p {
    font-size: 21px;
}
.left-content {
    padding-right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.six-row-div{
	padding-right: 4.5%;
}
.right-img-div {
    width: 55%;
    margin-right: -4.8%;
    margin-top: -75px;
}
}
@media all and (max-width: 610px){
.logo-img {
    width: 50px;
}	
.red-hover{
	font-size: 12px;
	padding-right: 7px;
}
.right-menu-div {
    padding-top: 5px;
}
.four-row-div{
	padding-bottom: 100px;
}
}
@media all and (max-width: 580px){
.left-img {
    width: 90px;
}
.bulb-img{
	width: 90px;
}
.second-right-img {
    width: 50px !important;
}
.left-content{
	width:90%;}
.six-row-div {
    padding-top: 50px;}
.right-img-div {
    margin-top: -110px;
}
}
@media all and (max-width: 550px){
.thousand-h1 {
    font-size: 20px;
	color:white
}
.first-left-div {
    margin-top: 80px;
}
.thousand-p {
    font-size: 16px;
}
.first-right-div{
	float:none;
	width:100%;
	top:0;}
.mobile-rocket{
	display:block;}
.web-rocket{
	display:none;}
.first-left-div {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
}
.first-div-gradient{
	margin-left:auto;
	margin-right:auto;}
.first-div-p{
	color:white;
	margin-top:10px}
.first-div-b{
	color:white;}
.red-hover{
	color:white;}
.mobile-logo{
	display:inline-block;}
.web-logo{
	display:none;}
.menu-bg{
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
	
	}
.row-4-p{
	margin-top:0;}
}
@media all and (max-width: 540px){
.contact2-p {
    font-size: 14px !important;
}
.contact-right-content {
   width: calc(100% - 20px);
}
.contact-icon{
	width: 20px;
}
.contactus-graphic {
    width: 20%;
}
.contact-us-form {
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
}
.sky2{
	width:100%;}
.sky2a {
    margin-top: 350px;
}
}
@media all and (max-width: 535px){
.second-right-img{
	margin-top:100px !important;}	
	
}
@media all and (max-width: 530px){
.third-row {
    margin-bottom: 70px;
}	
	
}


@media all and (max-width: 500px){
.right-img {
    margin-top: 190px;
    width: 70px;
}
.opt-msg{
	font-size: 14px;
}
.input-submit {
    font-size: 18px;
}
.footer-p{
	font-size: 14px;
}
.box-p {
    font-size: 18px;
}
}
@media all and (max-width: 470px){

.thousand-h1 {
    font-size: 18px;
}	
.gradient-border {
    width: 25px;
    height: 3px;
}
.thousand-p {
    font-size: 15px;
}	

}

@media all and (max-width: 455px){
.special-m-height{
	min-height:63px;}


}
@media all and (max-width: 450px){
.right-img-div {
    margin-top: -80px;
	width: 60%;
}
.ad-mh{
	min-height:63px;}
.six-row-div{
	padding-bottom: 30px;
}
.input-name, .input-message {
    font-size: 14px;}
.thousand-h2 {
    font-size: 21px;
}	
}
@media all and (max-width: 440px){
.red-hover{
	display:none;	
}	
.red-hover2{
	display:inline-block;	
}
.menu-img {
    width: 25px;
}	
.right-menu-div {
    padding-top: 0;
}
.thousand-h2 {
    font-size: 21px;
}	
.second-right-img {
    margin-top: 55px !important;
}
.box-img {
    width: 85%;
}
.second-left-img {
    width: 60px;
}
.second-right-img {
    margin-top: 185px !important;
	width: 40px !important;
}
}

@media all and (max-width: 425px){
.thousand-h3a {
    font-size: 21px;
}
.box-p {
    font-size: 18px;
}
.package-box {
    width: 100%;}
}
@media all and (max-width: 420px){
.input-submit{
	width:100%;}	
	
}
@media all and (max-width: 400px){
.thousand-p2 {
    font-size: 16px;}
.arrow-p {
    margin-top: 0;
}
.left-img {
    width: 70px;
}
.arrow-img {
    width: 15px;
}
.second-left-img {
    width: 40px !important;
}
.second-right-img {
    margin-top: 175px !important;
    width: 25px !important;
}
.thousand-h3 {
    font-size: 21px;
    margin-bottom: 15px;
}
.contactus-graphic {
    width: 15%;
}
.contact-us-form{
	width: 70%;
}
}
@media all and (max-width: 390px){
.special-m-height {
    min-height: 84px;
}	
	
}
@media all and (max-width: 360px){
.contact-p{
    font-size: 16px;	
}
.contact-left-icon{
	width:25px;}
}
@media all and (max-width: 330px){
.contact-p {
    font-size: 14px;
}

}