@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
*::selection {
	color:white !important;
	background-color:#d60d26 !important;	}
.opacity-hover:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
.absolute{
	position:absolute;}
/*Start*/
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.logo-img {
    width: 60px;
}
.big-container-size {
    margin-top: 10px;
}
.padding-left{
	padding-left:7.5%;}
.header1{
    z-index: 3;
	width:100%;
	padding-bottom: 10px;
}
.second-row{
	z-index:-1;}
.menu-padding {
    padding-right: 15px;
}
.red-hover:hover{
	transition:.15s ease-in-out;
	color: #d21f3c;
}	
.hover-turn-red:hover{
	transition:.15s ease-in-out;
	color: #d21f3c;
}	
.first-left-div {
    margin-top: 180px;
	width:50%;
	padding-right: 5%;
}
.first-right-div {
	width:50%;	
}
.thousand-h1 {
    font-weight: 900;
    font-size: 56px;
	color: black;
}
.gradient-border{
	width:100px;
	height:5px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thousand-p {
    font-size: 36px;
}
.red-text{
	color:#d60d26;}
.third-row {
    margin-top: 50px;
	margin-bottom:150px;
}
.third-row-first-div {
    width: 50%;
}
.third-row-second-div {
    width: 50%;
    padding-left: 5%;
	margin-top: 100px;
}
.thousand-p2{
	font-size:32px;}
.menu-bg {
       background-color: rgba(232, 0, 0, 0.17);
}
.right-menu-div{
	padding-top: 10px;
}
.header1{
	padding-bottom: 10px;
}
.black-text{
	color:black;}
.left-img {
    position: absolute;
    margin-left: -7.5%;
	width: 220px;
}
.right-img {
    position: absolute;
    float: right;
	right:0;
	width: 240px;
    margin-top: 190px;
}
.bulb-img {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.row-4-p {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.arrow-p {
    text-align: center;
}
.arrow-img {
    width: 50px;
}
.four-row-div {
    overflow: hidden;
    padding-bottom: 200px;
}
.box-img {
    width: 45%;
}
.thousand-h2 {
    font-size: 42px;
    color: black;
	margin-bottom:10px;
}
.thousand-p3 {
    font-size: 24px;
}
.four-div {
    width: 20%;
	margin-bottom: 50px;
}
.small{
	text-align:center;
	margin-top: 0;
    font-size: 21px;
    margin-bottom: 35px;
	}
.four-image {
    width: 40%;
}
.middle-4-div{
	margin-left:5%;
	margin-right:5%;}
.four-box-p {
    font-weight: 700;
    font-size: 27px;
    min-height: 66px;
}
.thousand-h3 {
    font-size: 32px;
    color: black;
}
.add-padding-top{
	padding-top:50px;}
.package-box{
	width:28%;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	-moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	float:left;
	overflow:hidden;
	border-radius: 20px;
	}
.middle-package-box{
	margin-left:8%;
	margin-right:8%;
	
}
.thousand-h3a {
    font-size: 28px;
}
.color-box{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;}
.red-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.orange-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #f7941d 0%, #f4a21e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f7941d 0%,#f4a21e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f7941d 0%,#f4a21e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.golden-box{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -moz-linear-gradient(left, #bc8b00 0%, #dd9e00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #bc8b00 0%,#dd9e00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fbc8b00 0%,#dd9e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
.box-content-div{
	padding:15px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	overflow:hidden;}
.left-icon {
    width: 35px;
}
.right-content{
	width:calc(100% - 35px);
	padding-left:12px;}
.box-p {
    font-size: 18px !important;
    margin-top: 0;
    margin-bottom: 17px;
}
.one-row{
	margin-bottom:15px;
	clear:both;
	overflow:hidden;}
.ow-gradient-width{
	width:100% !important;
	height:3px !important;}
.coming-p {
    font-size: 36px;
}
.package-img {
    width: 80%;
	margin-top: 150px;
}
.six-row-div {
    padding-top: 100px;
	padding-left:7.5%;
    padding-bottom: 100px;	
}
.left-content {
    width: 50%;
    padding-right: 7.5%;
}
.social-icon {
    width: 40px;
}
.social-icon2{
	margin-left:20px;
}
.right-img-div{
	width:45%;}
.hover-opacity:hover{
	cursor:pointer;
	opacity:0.75;
	transition:.15s ease-in-out;}
.low-weight{
	font-weight:300;}
.contactus-row{
	margin-top:120px;}
.contactus-graphic {
    width: 25%;
}
.contact-us-form {
    width: 50%;
	padding-left: 5%;
    padding-right: 5%;
}
.extra-margin{
	margin-top:25px;
	margin-bottom: 30px;}
.input-name {
    width: 100%;
    font-size: 24px;
    padding: 5px;
	margin-top: 18px;
	border: 2px solid #a9151c;
    border-radius: 8px;
}
.input-message {
    margin-top: 18px;
    width: 100%;
    min-height: 150px;
    border: 2px solid #a9151c;
    border-radius: 8px;
    font-size: 24px;
    padding: 5px;
	margin-bottom: 5px;
}
.radio1 {
    min-height: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}
.opt-msg {
    width: 100%;
    float: left;
    margin-top: 0;
}
.input-submit {
    font-size: 24px;
    border: 0;
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    padding-top: 3px;
    margin-top: 20px;
    border-radius: 8px;
}
.footer-div{
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}
.footer-p {
    margin: 0;
    padding-bottom: 2px;
}
.red-hover2, .mobile-rocket{
	display:none;}
.mobile-logo{
	display:none;}
.tel-a{
	display:none;}
.content-img {
    bottom: 0;
}
.mobile-contact{
	display:none;}
.purple-tree3{
	display:block;
	position:absolute;
	width:70%;}
.orange-tree3{
	display:block;
	position:absolute;
	width: 80%;}	
.tree3-div{
	position:absolute;
	display:block;}	

.right0{
	right:0;}	
.purple-tree4, .orange-tree4{
	display:none;}
.sky2{
	display:none;}
.radio-div {
    width: 30px;
    margin-top: 3px;
}
.radio-p-div {
    width: calc(100% - 30px);
}

.four-div-mh {
    min-height: 300px;
}
.three-div {
    width: 31%;
}
.middle-3-div {
    margin-left: 3.5%;
	margin-right:3.5%;
}
.bigger-p {
    font-size: 21px;
    margin-bottom: 0;
}
.smaller-font {
    margin-top: 5px;
}
.divider-top{
	margin-top:50px;}
.divider-top2{
	margin-top:100px;}
.margin-top-small{
	margin-top:3px;}
.tm-a {
    text-decoration: underline;
    color: #d60d26;
}
.tm-a:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	color:#aa151c;}
.big-notice-b {
    color: white;
    font-weight: 800;
}
.big-notice{
	color:white;
	text-align:center;
	width: 30%;
    margin-left: auto;
    margin-right: auto;}
.white-box-css .bigger-p b{
	color:white;}
.white-box-css .bigger-p {
    margin-bottom: 50px;
	min-height: 50px;
}
/*Overwrite*/
.ow-padding-bottom{
	padding-bottom:30px !important;}
.ow-margin-bottom{
	margin-bottom:15px;	
}
.five-row-div{
	overflow: hidden !important;
    display: flex !important;
    padding: 30px 7.5% !important;	
}
.green2-box{
	background: rgba(4,153,51,1);
	background: -moz-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,153,51,1)), color-stop(100%, rgba(8,172,85,1)));
	background: -webkit-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: -o-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: -ms-linear-gradient(left, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	background: linear-gradient(to right, rgba(4,153,51,1) 0%, rgba(8,172,85,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049933', endColorstr='#08ac55', GradientType=1 );
}
.purple2-box{
	background: rgba(119,82,162,1);
	background: -moz-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(119,82,162,1)), color-stop(100%, rgba(150,82,162,1)));
	background: -webkit-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: -o-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: -ms-linear-gradient(left, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	background: linear-gradient(to right, rgba(119,82,162,1) 0%, rgba(150,82,162,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7752a2', endColorstr='#9652a2', GradientType=1 );
}
.peach-box{
	background: rgba(241,105,105,1);
	background: -moz-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,105,105,1)), color-stop(100%, rgba(246,134,90,1)));
	background: -webkit-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: -o-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	background: linear-gradient(to right, rgba(241,105,105,1) 0%, rgba(246,134,90,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16969', endColorstr='#f6865a', GradientType=1 );}
.white-s{
	color:white;
	font-size:smaller;}
.red-sticker {
    position: absolute;
    margin-left: -2%;
    margin-top: -47px;
}
.marketing-mp {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.package-50{
	width:50%;}
.right-package-50{
	margin-left:4%;}
.blue-box{
	background: rgba(0,144,197,1);
	background: -moz-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,144,197,1)), color-stop(100%, rgba(0,178,218,1)));
	background: -webkit-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: -o-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	background: linear-gradient(to right, rgba(0,144,197,1) 0%, rgba(0,178,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090c5', endColorstr='#00b2da', GradientType=1 );	
}
.width50 {
    width: 48%;
    float: left;
}
.right-width50 {
    margin-left: 4%;
}
.emerald-box{
	background: rgba(0,187,178,1);
	background: -moz-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,187,178,1)), color-stop(100%, rgba(0,211,204,1)));
	background: -webkit-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: -o-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	background: linear-gradient(to right, rgba(0,187,178,1) 0%, rgba(0,211,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbb2', endColorstr='#00d3cc', GradientType=1 );
}
.smaller-mp {
    font-size: 18px;
}
.five-div {
    width: 18%;
    float: left;
	text-align:center;
}
.five-div-img {
    width: 40%;
}
.left-five-div, .right-five-div{
	margin-left:2.5%;
	margin-right:2.5%;}
.five-div-p{
	font-size:21px;}
.some-margin-top{
	margin-top:30px;}
.menu-bg {
    background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
}
.display-none{
	display:none !important;}
.display-block{
	display:block !important;}
.smallest-p {
    width: 70%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 14px;
	margin-top: 35px;
}
.first-border{
	float:left;}
.slogan-p {
    float: left;
    margin-top: -18px;
    margin-left: 30px;
    font-size: 32px;
    margin-bottom: 0;
    color: #ab151d;
}
.red-btn{
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%);
    background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%);
    background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);}
.middle-btn-size {
    width: 200px;
    margin-left: calc(50% - 100px);
    text-align: center;
    color: white;
    padding: 8px 10px;
    font-size: 21px;
    border-radius: 5px;
}
.three-btn-size {
    width: 28%;
    /* margin-left: calc(50% - 100px); */
    text-align: center;
    color: white;
    padding: 8px 10px;
    font-size: 21px;
    border-radius: 5px;
    float: left;
}
.two-btn-size{
    width: 48%;
    /* margin-left: calc(50% - 100px); */
    text-align: center;
    color: white;
    padding: 8px 10px;
    font-size: 21px;
    border-radius: 5px;
    float: left;	
}
.second-two-btn {
    margin-left: 4%;
}
.middle-three-btn{
	margin-left:8%;
	margin-right:8%;	
}
.hover-a-reverse{
	opacity:0.85;}
.hover-a-reverse:hover{
	opacity:1;
	transition:.15s ease-in-out;
	cursor:pointer;}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content{
	width: 30%;
	background-color: white;
    border: 0;
	margin-top: calc(50vh - 280px);

}
.yellow-text2{
	color:#ffe529;}
.form-input {
    font-size: 16px !important;
}
.more-margin-top {
    margin-top: 50px;
}
.ow-w100{
	width:100% !important;}
.mobile-appear{
	display:none;}
.blog-menu {
    background-color: white;
}
.blog-bg-div{
	background-image:url(../img/thousand-media/pink-blog-bg.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:bottom;
	min-height:calc(100vh - 21px);
	overflow: hidden;
	width:100%;
	}
.menu-distance{
	padding-top:63.5px;	
}
.border-title {
    margin-bottom: 20px;
}
.big-blog-css{
	padding-bottom:600px;
	display: flex;
	margin-top: 50px;
	padding: 15px;
    padding-bottom: 620px;}
.left-blog-div{
	width:48%;
	float:left;
	background-color: white;
	-webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17); 
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17);
	border-radius: 10px;
}
.right-blog-div{
	width:48%;
	float:left;
	margin-left:4%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17); 
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.17);
	border-radius: 10px;}
.big-image-div{
	width:100%;
	}
.big-blog-content {
    padding: 10px;
    overflow: hidden;
}

.blog-date {
    font-size: 14px;
    color: #808080;
}
.blog-article-cat {
    margin-left: 0;
}
.blog-date2 {
    margin: 0;
    font-size: 13px;
}
.blog-title-h3, .blog-title-h2 {
    margin-top: 0;
    margin-bottom: 10px;
	font-weight:700;
}
.blog-title-h3{
	font-size:21px;}
.blog-article-cat {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
    width: 90px;
    border-radius: 7px;
}
.category-button{
	margin-top:30px;
	margin-bottom: 50px;}
.blog-aa {
    float: left;
	font-size: 21px;
	padding-top: 8px;
	font-weight: 600;
	color:#808080;
}
.blog-aa2 {
    float: left;
    margin-left: 20px;
    font-size: 21px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
	color: white;
	border-radius: 10px;
	opacity:0.85;
	font-weight: 600;
}
.blog-aa2:hover{
	opacity:1;
	transition:.15s ease-in-out;}
.blue-div{
	background-color:#0062ff;}
.green-div{
	background-color:#39b54a;}
.blog-article-cat{
	margin-left:0 !important;}
.blog-img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.purple-div{
	background-color:#93278f;}
.red-div{
	background-color:#d60d26;}
.orange-div{
	background-color:#f15a24;}
.article-cat {
    margin-left: 0 !important;
    margin-top: 20px;
    margin-bottom: 50px;
}
.article-padding {
    padding-left: 25%;
    padding-right: 25%;
}
.width-auto{
	width:auto !important;}
.title-h3 {
    color: black;
	margin-top: 40px;}
.article-date {
    font-size: 12px;
    color: #a2a2a2;
}
.blog-title3 {
    font-size: 32px !important;
    float: left;
    margin-top: 0;
}
.white-button {
    float: right;
    margin-right: 20px;
    font-size: 21px;
    color: #b5b5b5;
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    padding-top: 8px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(183,183,183,0.44); 
	box-shadow: 0px 0px 6px 2px rgba(183,183,183,0.44);
	background-color:white;}
.white-button:hover{
	color:white;
	background-color:#d60d26;
	transition:.15s ease-in-out;}
.three-in-one-row {
    width: 100%;
	margin-bottom:50px;
	
}
.three-div-content {
    padding: 10px;
    overflow: hidden;
}

.three-one-small-div {
    width: calc(33.3% - 15px);
    margin-right: 15px;
    float: left;
    background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	margin-bottom: 50px;
}
.article-bg {
    padding-bottom: 400px;
}
.article-content {
    padding-bottom: 75px;
}
.white-box2{
	background-color: white;
	-webkit-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.22);
	margin-bottom: 30px;}
.blog-article-cat{
	margin-left:0 !important;
	clear:both;
	width:auto !important;}
.opacity-white-hover:hover{
	opacity:.85;
	color:white;
	transition:.15s ease-in-out;}
.starry-bg{
	background-image:url(../img/thousand-media/starry-bg3.jpg);
	min-height:calc(100vh - 21px);
	background-size:cover;
	padding-bottom: 500px;}
.purple-bg{
	background-image:url(../img/thousand-media/purple-bg.jpg);
	min-height:calc(100vh - 21px);
	background-size:cover;
	background-position:bottom;
	padding-bottom: 200px;}
.first-content-div {
    text-align: center;
	margin-top: 200px;
}
.explanation-p {
    margin-top: 0;
    color: #e4e4e4;
    font-size: 19px;
}
.details-p {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    color: #e4e4e4;
    margin-top: 25px;
}
.galaxy-h1-title {
    margin-bottom: 10px;
	font-weight:900;
}
.tzexin {
    position: absolute;
    right: 15%;
    margin-top: 100px;}
.left-star-div{
	position:absolute;}
.absolute{
	position:absolute;
	}
.left-star-div2 {
    margin-top: 80px;
    margin-left: 5%;
}
.left-star-div3 {
    margin-top: 200px;
    margin-left: -3.5%;
}
.star-img2 {
    width: 15px;
}
.right-star-div {
    right: 10%;
}
.right-star-div2 {
    right: 8%;
    margin-top: 50px;
}
.star-img3 {
    width: 12px;
}
.left-pink-planet {
    margin-top: -30px;
    margin-left: 8%;
	
}
.second-content-div {
    margin-top: 100px;
}
.white-box-div {
    background-color: #ffffffa8;
    border-radius: 15px;
    padding: 30px;
	text-align: center;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	clear: both;
}
.galaxy-h1-title2 {
    margin-top: 0;
	font-weight:900;
}
.green-text{
	color:#06a64b;}
.li-p {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
	color: black;
	font-size: 18px;
}
.margin-bottom0{
	margin-bottom:0;}
.pink-radius-button {
    color: white;
    padding: 10px;
    width: 300px;
    font-size: 21px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.blue-planet {
    margin-top: -300px;
    margin-left: 15%;
}
.gold-planet{
    margin-top: -200px;
    margin-left: calc(50% - 520px);
}
.roi-planet {
    margin-top: -50px;
    margin-left: -3%;
}
.left-star-div-roi {
    right: 5%;
}
.left-star-div-roi2 {
    right: 8%;
    margin-top: 50px;
}
.mingshie {
    right: 1%;
    margin-top: 100px;
}
.blue-iron {
    right: 1%;
    margin-top: 400px;
}
.third-content-div {
    margin-top: 200px;
}
.purple-text{
	color:#8252a2;}
.third-content-div .li-p {
    width: 500px;}
.left-star-div-purple2 {
    margin-top: -150px;
    margin-left: -3%;
}
.left-star-div-purple3 {
    margin-left: 10%;
    margin-top: -90px;
}
.left-star-div-purple4 {
    margin-top: 80px;
    margin-left: 15%;
}
.red-highlight {
    font-weight: 900;
    color: #b91220;
}
.black-rock {
    right: calc(50% - 600px);
    margin-top: -200px;
}
.orange-text{
	color:#f47861;}
.four-content-div {
    margin-top: 200px;
}
.four-content-div .li-p{
	width: 500px;
}
.advanced-marketing-planet {
    margin-top: -600px;
}
.advanced-marketing-planet-red {
    margin-top: -300px;
    margin-left: 300px;
}
.marketing-rocket {
    margin-top: -100px;
    margin-left: -4%;
}
.halo-planet {
    margin-left: 9%;
}
.bottom-star {
    right: 3%;
}
.bottom-star2 {
    right: 7%;
    margin-top: 80px;
}
.bottom-star3 {
    right: 9%;
    margin-top: -300px;
}
.advanced-marketing-planet-red img{
	width:100%;}
.white-menu-bg{
	background-color:white;}
.white-menu-bg a{
	color:#a71d32;}
.white-menu-bg a:hover{
	color:#a71d32;
	opacity:0.85;
	transition:.15s ease-in-out;}
.author-name {
    font-size: 21px;
}
.weight-800 {
    font-weight: 800;
}
.share-title{
	margin-bottom:10px;
	margin-top:0;}
.share-div {
    overflow: hidden;
    border-top: 1px solid gainsboro;
    padding-top: 30px;
    padding-bottom: 50px;
}
.comment-div {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 50px;
}
.padding-bottom-0-important{
	padding-bottom:30px !important;}
.blog-title-h2 {
    min-height: 60px;
}
.left-content-top {
    z-index: 2;
    position: absolute;
    margin-top: 180px;
	width: 45%;}
.art-h1 {
    color: black;
    font-weight: 800;
}
.art-p {
    color: black;
    font-size: 21px;
}
.mobile-view1{
	display:none;}
.moon-height{
	min-height:850px;}
.stand-top {
    z-index: 2;
    position: absolute;
}
.middle-text-div {
    width: 40%;
    text-align: center;
    margin-left: 25%;
    margin-top: 150px;
}
.opacity-control{
	opacity:0.7;}
.moon-bg{
	background-image:url(../img/thousand-media/moon.png);
	background-size:cover;
	background-position:bottom;}
.left-detail-div{
	background: rgba(90,101,255,1);
background: -moz-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,101,255,1)), color-stop(100%, rgba(215,174,201,1)));
background: -webkit-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: -o-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: -ms-linear-gradient(left, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
background: linear-gradient(to right, rgba(90,101,255,1) 0%, rgba(215,174,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a65ff', endColorstr='#d7aec9', GradientType=1 );
width:45%;
text-align: center;
    padding: 20px;
	border-radius: 10px;
	width: 40%;
	margin-top: 50px;}
.right-ani-pic {
    width: 40%;
}
.thin-detail-p {
    font-weight: 300;
    color: white;
    font-size: 27px;
}
.left-detail-p {
    color: white;
    font-size: 24px;
    font-weight: 800;
}
.slight-top {
    margin-top: 90px !important;
}
.padding-top {
    padding-top: 50px;
}
.white-box-css {
    overflow: hidden;
    background-color: #ffffff0d;
	border-radius: 20px;
    padding: 20px 50px;
}
.artz-h1 {
    text-align: center;
    font-weight: 900;
    color: white;
}
.left-li-div {
    float: left;
    width: 70%;
}
.white-ul li {
    color: white;
    font-size: 21px;
    margin-bottom: 12px;
}
.first-li-div {
    float: left;
	width: 50%;
}
.second-li-div {
    float: left;
	width: 50%;
}
.right-img-div2 {
    width: 30%;
    float: right;
}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;}
.pointer:hover{
	cursor:pointer;}
.ow-pink-btn:hover{
    background: -moz-linear-gradient(left, #96141a 0%, #fd1734 100%);
    background: -webkit-linear-gradient(left, #96141a 0%,#fd1734 100%);
    background: linear-gradient(to right, #96141a 0%,#fd1734 100%);
	transition:.15s ease-in-out;
	cursor:pointer;}
.explain-p {
    color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.explain-i {
    color: white;
    font-weight: 800;
}
.dropdown-png {
    height: 8px;
    margin-left: 5px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
	margin-top: -2px !important;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#d60d26;
	transition:.15s ease-in-out;
	cursor:pointer;}
.grey-dropdown {
    display: none;
}

.blue-bg2{
	background-image:url(../img/thousand-media/blue-bg.jpg);
	min-height:calc(100vh - 21px);
	background-size:cover;
	background-position:bottom;
	padding-bottom: 360px;}
.blue-menu{
    background: -moz-linear-gradient(left, #0a9494 0%, #1578d6 100%);
    background: -webkit-linear-gradient(left, #0a9494 0%,#1578d6 100%);
    background: linear-gradient(to right, #0a9494 0%,#1578d6 100%);	
}
.purple-menu{
    background: -moz-linear-gradient(left, #3e62ba 0%, #405fb9 100%);
    background: -webkit-linear-gradient(left, #3e62ba 0%,#405fb9 100%);
    background: linear-gradient(to right, #3e62ba 0%,#405fb9 100%);	
}
.cloud-div {
    background-image: url(../img/thousand-media/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    background-position: right;
    margin-right: 7.5%;
	width: 600px;
}
.bold-detail-p {
    color: black;
    font-weight: 900;
    font-size: 32px;
	margin-top: 110px;
}
.normal-detail-p {
    font-size: 21px;
    color: black;
}
.green-gradient{
	background: #5acf8b;
    background: -moz-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #5acf8b), color-stop(100%, #34a7a4));
    background: -webkit-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: -o-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: -ms-linear-gradient(left, #5acf8b 0%, #34a7a4 100%);
    background: linear-gradient(to right, #5acf8b 0%, #34a7a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5acf8b', endColorstr='#34a7a4', GradientType=1 );	
}
.inifi-left-div {
    float: left;
    width: 50%;
}
.infi-right-div {
    float: right;
    width: 50%;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 100px;
	padding-bottom: 30px;
}
.left-bird {
    position: absolute;
    left: 27%;
}
.right-bird {
    position: absolute;
    right: 20%;
}
/* Overwrite */
.padding-top100{
	padding-top:100px;}
.margin-top30{
	margin-top:30px;}
.ow-margin-top50{
	margin-top:50px;}
.margin-top100{
	margin-top:100px;}
.ow-white-text{
	color:white !important;}
@media all and (max-width: 1650px){	
.blog-title-h2 {
    min-height: 87px;
}


}
@media all and (max-width: 1600px){	
.input-name{
	font-size: 21px;
}
.planet-img{
	width:100%;}
.tzexin {
    right: 4%;
    width: 18%;}
.left-pink-planet {
    margin-top: -80px;
    margin-left: -3%;
    width: 10%;
}
.blue-planet {
    width: 3%;
}
.gold-planet {
    width: 5%;
}
.roi-planet {
    width: 15%;
}
.mingshie {
    width: 28%;
}
.blue-iron {
    width: 5%;
    right: 3%;
}
.black-rock {
    width: 15%;
}
.advanced-marketing-planet {
    width: 12%;
}
.advanced-marketing-planet-red {
    width: 5%;
}
.marketing-rocket {
    width: 13%;
}
.halo-planet {
    margin-left: 12%;
    width: 15%;
}
.white-box-div {
    width: 60%;}
.big-notice {
    width: 50%;}
}
@media all and (max-width: 1556px){	
.footer-div{
	margin-top:0;}
.mobile-contact{
	display:block;}
.web-contact{
	display:none;}
.moon-height {
    min-height: 670px;
}
.middle-text-div {
    margin-top: 120px;
}
}


@media all and (max-width: 1500px){	
.thousand-h1{
	font-size: 48px;
}
.thousand-p {
    font-size: 30px;
}
.thousand-p2 {
    font-size: 27px;
}
.orange-tree {
    margin-top: 82px;
    bottom: 0;
}
.advanced-marketing-planet-red {
    margin-left: 120px;
}
}
@media all and (max-width: 1460px){	
.pack-color {
    min-height: 178px;
}
}
@media all and (max-width: 1445px){
.pack-color {
    min-height: 212px;}
}
@media all and (max-width: 1400px){	
.thousand-h2 {
    font-size: 36px;}
.thousand-h3 {
    font-size: 28px;
    margin-bottom: 20px;}
.left-icon {
    width: 30px;
}	
.right-content {
    width: calc(100% - 30px);}
.box-p {
    font-size: 21px;}
.ow-gradient-width {
    height: 2px !important;
}

.thousand-h3a {
    font-size: 24px;
}
.coming-p {
    font-size: 32px;
}
.pack-color {
    min-height: 0;
}
.five-div-p {
    font-size: 18px;
}
.five-div-img {
    width: 60%;
}
.big-blog-css {
    padding-bottom: 390px;
}
.blog-title3 {
    font-size: 27px !important;}
.white-button{
    font-size: 18px;	
}
.mingshie {
    width: 21%;
    right: 8%;}
.black-rock {
    width: 10%;
    right: 15%;}
.blue-iron {
    right: 5%;
    margin-top: 300px;
}
.third-content-div {
    margin-top: 120px;
}
.roi-planet {
    width: 10%;
}
.four-content-div {
    margin-top: 120px;
}
.starry-bg {
    padding-bottom: 250px;
}
.middle-text-div {
    margin-top: 90px;
}
.moon-height {
    min-height: 600px;
}
.explain-p {
    width: 40%;}
}

@media all and (max-width: 1375px){	
.purple-tree3, .orange-tree3{
	width: 100%;
}


}
@media all and (max-width: 1360px){	
.left-img{
	width:190px;
	}
.right-img{
	width:190px;	
}

.thousand-h2 {
    font-size: 32px;}
.thousand-p3 {
    font-size: 21px;
}
.four-box-p{
    font-size: 23px;	
}
.menu-white .red-hover{
	color:#c3c3c3;	
}
.tart-menu  .red-hover{
	color:white;	
}
.menu-bg .red-hover{
	color:white;	
}
.blog-menu .black-text{
	color:black;}
.white-menu-bg .red-hover {
    color: #a71d32;
}
.grey-dropdown {
    display: inline-block;
}
.white-dropdown{
	display:none;}
}
@media all and (max-width: 1300px){	
.slogan-p {
    margin-top: -12px;
    font-size: 24px;
	margin-left: 20px;
}
.article-padding {
    padding-left: 10%;
    padding-right: 10%;
}
.white-box-div {
    width: 80%;
}
.third-content-div {
    margin-top: 120px;
}
.four-content-div {
    margin-top: 120px;
}
.left-detail-div{
    width: 45%;
    margin-top: 20px;	
}
.right-ani-pic {
    width: 45%;
}
.blue-bg2{
    padding-bottom: 250px;	
}
.left-bird{
	width:50px;}
.right-bird{
	width: 40px;
}
}
@media all and (max-width: 1262px){	
.pack-color {
    min-height: 184px;
}

}
@media all and (max-width: 1250px){	


.third-row-second-div {
   margin-top: 50px;}
}
@media all and (max-width: 1225px){
.package-box {
    width: 31%;}
.middle-package-box {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.pack-color {
    min-height: 0;
}	
.package-50 {
    width: 50%;
}
.three-btn-size {
    width: 31%;}
.middle-three-btn {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
}

@media all and (max-width: 1200px){	
.thousand-h1{
	font-size: 42px;
	margin-top: 0;
}
.thousand-p {
    font-size: 27px;
}
.thousand-p2 {
    font-size: 24px;
}
.gradient-border {
    width: 70px;}
.right-img{
	margin-top: 130px;}
.left-img {
    width: 170px;
}
.arrow-img {
    width: 30px;
}
.login-modal-content {
    width: 50%;}
.left-content-top {

    margin-top: 120px;}
.white-ul li {
    font-size: 17px;}
.right-img-div2 {
    margin-top: 60px;
}
.explain-p {
    width: 50%;
}
.white-box-css .bigger-p {
    min-height: 50px;
	margin-bottom:20px;
    font-size: 17px;
}
.cloud-div {
    width: 400px !important;
	margin-top:70px !important;
}
.bold-detail-p {
    font-size: 24px;}
.normal-detail-p {
    font-size: 16px;}
.infi-right-div {
    padding-right: 30px;
    padding-left: 50px;}
}
@media all and (max-width: 1155px){	
.input-name {
    font-size: 18px;
	margin-top: 12px;
}
.input-message{
	margin-top: 12px;
	font-size: 18px;
}
.input-submit {
    font-size: 21px;}
}

@media all and (max-width: 1150px){	
.blog-aa2 {
    font-size: 16px;
    width: 110px;}
.blog-title-h2 {
    min-height: 116px;
}
}
@media all and (max-width: 1140px){	
.pack-color {
    min-height: 155px;
}
.red-sticker{
	margin-top: -60px;
}
}
@media all and (max-width: 1130px){	
.contact-us-form{
	padding-bottom: 60px;
}

}
@media all and (max-width: 1128px){	
.pack-color {
    min-height: 184px;
}
}


@media all and (max-width: 1100px){	
.four-image {
    width: 50%;
}
.blog-title-h2 {
    font-size: 16px;
}
.blog-date {
    font-size: 12px;}
.blog-desc {
    font-size: 14px;
}
.advanced-marketing-planet-red {
    margin-left: 1%;
}
.blog-title-h2 {
    min-height: 60px;
}
.middle-text-div {
    margin-top: 40px;
}
.moon-height {
    min-height: 480px;
}
.slight-top {
    margin-top: 50px !important;
}
}
@media all and (max-width: 1045px){
.radio1 {
    min-height: 70px;
    margin-top: -23px;	}
	
}
@media all and (max-width: 1030px){
.sky1-right {
    margin-top: 230px;
}
}
@media all and (max-width: 1015px){	
.purple-tree3, .orange-tree3 {
    display: none;
}
.purple-tree4, .orange-tree4 {
    display: block;
    position: absolute;
	width: 85%;
}
.right-img {
    margin-top: 170px;
	width: 140px;
}
.art-h12 {
    font-size: 27px;
}
}
@media all and (max-width: 1000px){	
.first-left-div {
    margin-top: 140px;}	
.thousand-h1 {
    font-size: 36px;}
.gradient-border {
    width: 60px;}
.thousand-p {
    font-size: 24px;
	word-spacing: 4px;
}
.left-img {
    width: 120px;
}
.right-img {
    margin-top: 170px;
    width: 120px;
}
.big-blog-css {
    padding-bottom: 250px;
}
.white-box-div {
    width: 80%;
}
.blue-planet {
    margin-left: 5%;
}
.gold-planet {
    margin-left: -2%;
}
.star-img {
    width: 12px;
}
.first-content-div {
    margin-top: 150px;
}
.left-pink-planet {
    margin-left: 0;}
.black-rock {
    right: 10%;
}
.blue-iron {
    margin-top: 220px;
}
.left-content-top {
    margin-top: 70px;
	width: 40%;
}
.art-h1 {
    font-size: 27px;
}
.art-p {
    font-size: 18px;
}
.left-detail-div {
    padding-top: 0;
    padding-bottom: 0;
}
.explain-p {
    width: 60%;
}
.big-notice {
    width: 70%;
}
.cloud-div {
    width: 320px !important;
    margin-top: 0 !important;
}
.bold-detail-p {
    font-size: 20px;
    margin-top: 130px;
}
.normal-detail-p {
    font-size: 14px;
    margin-top: 0;
}
.left-bird{
	margin-top: 80px;
	width: 30px;	
}
.right-bird {
    width: 25px;
    margin-top: 60px;
}
.blue-bg2 {
    padding-bottom: 180px;
}
}

@media all and (max-width: 970px){
.third-row-second-div {
    margin-top: 0;
}	
	
}
@media all and (max-width: 940px){
.color-box .thousand-h3a {
    font-size: 21px;
}
.pack-color {
    min-height: 162px;
}
}
@media all and (max-width: 930px){
.blog-aa2 {
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    margin-left: 10px;
}}
@media all and (max-width: 900px){
.thousand-h2 {
    font-size: 27px;
}
.thousand-p3 {
    font-size: 18px;
}
.four-box-p {
    font-size: 19px;
}
.thousand-h3 {
    font-size: 24px;}
.contact-p {
    font-size: 18px;
    word-break: break-word;
}	
.web-span{
	display:none;}
.tel-a{
	display:block;
	color:#d60d26;}	
.small{
	font-size: 14px;
    margin-bottom: 25px;
	}
.right-img {
    margin-top: 200px;
    width: 70px;
}
.four-div-mh {
    min-height: 200px;
	margin-bottom: 10px;
}
.five-div-p {
    font-size: 15px;
}
.three-div {
    width: 28%;
}
.middle-3-div {
    margin-left: 8%;
    margin-right: 8%;
}
.moon-height {
    min-height: 390px;
}
.middle-text-div {
    width: 55%;
    margin-left: 22.5%;}
.thin-detail-p {
    font-size: 21px;
}
.left-detail-p {
    font-size: 18px;}
.white-box-css {
    padding: 20px 30px;
}
.white-ul li {
    font-size: 16px;
}
.right-img-div2 {
    margin-top: 100px;
}
}
@media all and (max-width: 875px){
.package-box {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 0;
}
.box-content-div{
    min-height: 0;	
	}
.package-box{
	border: 1px solid #e4e4e4;
    border-radius: 25px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.middle-package-box{
	margin-top: 30px;
}
.package-img {
    width: 30%;
    margin-top: 20px;
}
.coming-p {
    font-size: 27px;
}
.five-row-div{
	display:block !important;}
.pack-color {
    min-height: 0;
}
.red-sticker {
    margin-top: -40px;
	margin-left: 3.5%;
}

.smallest-p {
    margin-top: -35px;
}
.mobile-disappear{
	display:none;}
.mobile-appear{
	display:block;}
.w100-btn {
    width: 80%;
    margin-left: 10%;
	margin-top: 30px;
    margin-bottom: 50px;
		font-size: 16px;
}

}


@media all and (max-width: 860px){
.left-content{
	padding-right: 3.5%;
}
.contactus-row {
    margin-top: 20px;
}
.article-padding {
    padding-left: 5%;
    padding-right: 5%;
}
}
@media all and (max-width: 850px){
.first-left-div {
    margin-top: 90px;
}
.thousand-h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
.first-right-div {
    width: 60%;
}
.thousand-p {
    font-size: 21px;
    word-spacing: 4px;
}
.first-left-div{
	width:40%;}
.first-left-div {
    margin-top: 130px;
}
.first-border {
    width: 25px !important;
}
.slogan-p {
    margin-top: -8px;
    font-size: 18px;
    margin-left: 10px;
}
.blog-aa {
    font-size: 18px;}
}
@media all and (max-width: 840px){
.purple-tree4, .orange-tree4 {
	width: 100%;
}
.contact2-p{
	font-size: 18px;
}
}
@media all and (max-width: 800px){
.four-div {
    width: 45%;
	margin-bottom: 40px;
}
.four-image {
    width: 40%;
}
.middle-4-div {
    margin-left: auto;
    margin-right: auto;
}
.four-second-div {
    margin-left: 10%;
}
.same-padding {
    padding-left: 4.5%;
    padding-right: 4.5%;
}
.four-box-p{
    min-height: 50px;
	margin-bottom: 0;	
}
.empty-div{
	display:none;}
.ow-margin1{
	margin-left:0;
	margin-right:10%;}
.six-row-div{
	padding-left: 4.5%;
}
.left-content {
    padding-right: 0;
}
.radio1 {
    min-height: 100px;
    margin-top: -38px;
}
.big-blog-css{
	display: block;	
}
.left-blog-div, .right-blog-div {
    width: 100%;
    float: none;
	margin-left:0;
	display: flex;
	margin-bottom: 25px;}
.big-image-div, .big-blog-content {
    width: 50%;}
.content-marketing-bg{
	background-image:url(../img/thousand-media/content-marketing.jpg);
}
.big-image-bg{
	background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}
.graphic-design-bg{
	background-image:url(../img/thousand-media/graphic-design.jpg);
    background-position: top left;	
}
.online-business-bg{
	background-image:url(../img/thousand-media/online-business0.jpg);
}
.wage-bg{
	background-image:url(../img/thousand-media/rm600-wage-subsidy.jpg);
}
.blog-img{
	display:none;}
.blog-title3{
    margin-bottom: 20px !important;	
}
.white-button{
	padding-bottom:6px;
	padding-top:5px;
	
}
.three-middle {
    margin-left: 0;
    margin-right: 0;
}
.three-one-small-div {
    width: calc(50% - 20px);
	margin-right: 20px;}
.first-content-div {
    margin-top: 100px;
}
.galaxy-h1-title {
    font-size: 24px;
}
.explanation-p {
    font-size: 15px;
	margin-bottom: 0px;
}
.details-p {
    width: 50%;
    font-size: 14px;
	margin-top: 15px;}
.second-content-div {
    margin-top: 50px;
}
.galaxy-h1-title2 {
    font-size: 24px;
}
.white-box-div {
    padding: 20px 30px;}
.li-p {
    font-size: 15px;
}
.pink-radius-button {
    font-size: 18px;}
.li-p {
    width: 80%;}
.third-content-div {
    margin-top: 90px;
}
.mingshie {
    margin-top: 40px;
}
.black-rock {
    right: 5%;
	margin-top: -100px;
}
.blue-iron {
    margin-top: 150px;
}
.advanced-marketing-planet {
    width: 8%;
}
.third-content-div .li-p {
    width: 100%;
}
.four-content-div .li-p {
    width: 100%;
}
.marketing-rocket {
    width: 10%;
    margin-left: 0%;
}
.halo-planet {
    width: 12%;
}
.four-content-div {
    margin-top: 90px;
}
.starry-bg {
    padding-bottom: 150px;
}
.blog-title-h2 {
    min-height:0;
}
.padding-bottom-0-important {
    padding-bottom: 0 !important;}
.mobile-margin-top{
	margin-top: -15px !important;
}
.left-content-top {
    margin-top: 50px;
    width: 45%;
}
.middle-text-div {
    margin-top: 20px;
}
.artz-h1 {
    font-size: 27px;
}
.explain-p {
    width: 70%;
}
.cloud-div{
	min-height:200px;
	margin-right: 4.5%;}
.bold-detail-p {
    margin-top: 80px;
}
.infi-right-div {
    padding-right: 20px;
    padding-left: 20px;
}
}
@media all and (max-width: 780px){
.thousand-h2 {
    font-size: 24px;
}
.thousand-p3 {
    font-size: 16px;
}
.four-box-p {
    font-size: 17px;
}
}
@media all and (max-width: 750px){
.sky2{
	display:block;
	width: 85%;}
.sky1{
	display:none;}
.contact2-p{
	word-break: break-word;
}
.login-modal-content {
    width: 80%;
}
}

@media all and (max-width: 740px){
.article-padding {
    padding-left: 7.5%;
    padding-right: 7.5%;
}
}
@media all and (max-width: 735px){
.contact2-p {
    font-size: 15px;
}	


}
@media all and (max-width: 730px){
.moon-height {
    min-height: 330px;
}
.art-h12 {
    font-size: 24px;
}
}
@media all and (max-width: 720px){
.thousand-h1 {
    font-size: 24px;}	
.gradient-border {
    width: 40px;
    height: 3px;
}
.thousand-p {
    font-size: 18px;
    word-spacing: 3px;
}	
.thousand-p2 {
    font-size: 18px;
    margin-top: 40px;
}
.third-row-second-div {
    width: 100%;
    float: none;
}

.third-row-first-div{
    width: 100%;
    float: none;	
}
.third-row-second-div {
    width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.second-gradient{
	text-align:center;
	margin-left:auto;
	margin-right:auto;}
.row-4-p {

    width: 65%;}
.arrow-img {
    width: 20px;
}
.third-row{
	margin-bottom: 100px;}
}
@media all and (max-width: 700px){
.blog-aa2{
	margin-bottom: 10px;}
.three-div {
    width: 100%;
	padding-left:7.5%;
	padding-right:7.5%;
	margin-left:0;
	margin-right:0;
	    margin-top: 50px;
}
.art-h1 {
    font-size: 24px;
}
.art-p {
    font-size: 16px;
}
.right-img-div2 {
    margin-top: 180px;
}
.white-box-css .three-div {
    width: 31%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
	float:left;
}
.white-box-css .middle-3-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.big-notice {
    width: 95%;
}
.infi-right-div{
	margin-top: 50px;	
}
}
@media all and (max-width: 680px){
.sky2a {
    margin-top: 200px;
}	
	
}
@media all and (max-width: 670px){
.gift-h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.tzexin {
    width: 12%;
}
.left-pink-planet {
    width: 6%;
}
.gold-planet {
    margin-left: 0;
    width: 3%;
}
.roi-planet {
    width: 10%;
    margin-left: 0;
}
.mingshie {
    width: 21%;
    right: 7%;
    margin-top: 60px;
}
.blue-iron {
    right: 7%;
}
.advanced-marketing-planet {
    width: 8%;
    margin-left: 2%;
}
}
@media all and (max-width: 660px){
.first-left-div {
    margin-top: 100px;
}	
.thousand-h1 {
    font-size: 21px;
}
.thousand-p {
    font-size: 17px;}
}

@media all and (max-width: 650px){
.category-div {
    width: 110px;
    float: left;
}
.category-div-button {
    float: left;
    width: calc(100% - 110px);
}
.left-detail-div{
	margin-top:0;}
.explain-p {
    width: 100%;
}
.cloud-div {
    width: 250px !important;
    margin-top: 0 !important;
	min-height: 150px;
	padding:0;
}
.bold-detail-p {
    margin-top: 65px;
    margin-bottom: 2px;
}
.normal-detail-p {
    font-size: 12px;}
}
@media all and (max-width: 640px){
.second-right-img {
    width: 80px;
}
.contact-us-form {
    padding-left: 10px;
    padding-right: 10px;
}
.input-name {
    font-size: 16px;
    margin-top: 8px;
}
.input-message {
    margin-top: 8px;
    font-size: 16px;
}
.slight-top {
    margin-top: 20px !important;
}
}
@media all and (max-width: 630px){
.slogan-p{
	font-size: 14px;
}	
.first-border {
    width: 12px !important;
}	
}
@media all and (max-width: 625px){
.coming-p {
    font-size: 21px;
}
.left-content {
    padding-right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.six-row-div{
	padding-right: 4.5%;
}
.right-img-div {
    width: 55%;
    margin-right: -4.8%;
    margin-top: -75px;
}
.three-one-small-div {
    width: calc(100% - 20px);
    margin-right: 20px;
}

}
@media all and (max-width: 620px){
.web-view1{
	display:none;}
.mobile-view1{
	display:block;}
.left-content-top {
    margin-top: 60px;
    width: 70%;
}

}
@media all and (max-width: 610px){
.logo-img {
    width: 50px;
}	
.red-hover{
	font-size: 12px;
	padding-right: 7px;
}
.right-menu-div {
    padding-top: 5px;
}
.four-row-div{
	padding-bottom: 100px;
}
}
@media all and (max-width: 600px){
.box-p {
    font-size: 16px !important;}	
.big-image-div{
	width:35%,
}
.big-image-div{
	width:65%,
	}
.article-padding {
    padding-left: 0;
    padding-right: 0;
}
.details-p {
    width: 60%;}
.art-h12 {
    font-size: 16px;
    margin-top: 20px;
}
.right-img-div2 {
    margin-top: 250px;
}
.left-bird {
	margin-top: 50px;
    left: 18%;
}
.right-bird {
    margin-top: 40px;
}
.blue-bg2 {
    padding-bottom: 150px;
}
}
@media all and (max-width: 580px){
.left-img {
    width: 90px;
}
.bulb-img{
	width: 90px;
}
.second-right-img {
    width: 50px !important;
}
.left-content{
	width:90%;}
.six-row-div {
    padding-top: 50px;}
.right-img-div {
    margin-top: -110px;
}
.tzexin {
    width: 8%;
    margin-top: 50px;
}
}
@media all and (max-width: 550px){
.thousand-h1 {
    font-size: 20px;
	color:white
}
.first-left-div {
    margin-top: 80px;
}
.thousand-p {
    font-size: 16px;
}
.first-right-div{
	float:none;
	width:100%;
	top:0;}
.mobile-rocket{
	display:block;}
.web-rocket{
	display:none;}
.first-left-div {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
}
.first-div-gradient{
	margin-left:auto;
	margin-right:auto;}
.first-div-p{
	color:white;
	margin-top:10px}
.first-div-b{
	color:white;}
.red-hover{
	color:white;}
.mobile-logo{
	display:inline-block;}
.web-logo{
	display:none;}
.menu-bg{
	background: -moz-linear-gradient(left, #a9151c 0%, #d60d26 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9151c 0%,#d60d26 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9151c 0%,#d60d26 100%);
	
	}
.web-rocket2{
		display:none;}
.row-4-p{
	margin-top:0;}
.five-div {
    width: 31%;}
.left-five-div{
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.right-five-div {
    clear: both;
    margin-left: 0;
    margin-right: 3.5%;
}
.first-border{
	float:none;}
.slogan-p {
    font-size: 16px;
    color: white;
    text-align: center;
    float: none;
    margin-top: 5px;
}
.menu-white .red-hover {
    color: #ffffff;
}
.blog-menu .black-text {
    color: black;
}
.left-blog-div, .right-blog-div{
	display:block;}
.big-image-div, .big-blog-content{
	width:100%
}
.blog-img {
    display: block;
}
.blog-title3{
	color:#565656;	
}
.blog-title{
	color:#565656;}
.article-title{
	text-align:left;}
.blog-gradient{
	float:left;}
.halo-planet {
    margin-top: 35px;
}
.white-box-css .bigger-p {
    min-height: 55px;
    margin-bottom: 20px;
    font-size: 15px;
}
.white-menu-bg .red-hover {
    color: #a71d32;
}
.grey-dropdown {
    display: none;
}
.white-dropdown {
    display: inline-block;
	height: 6px;
}
.infi-right-div {
    margin-top: 160px;
}
}
@media all and (max-width: 540px){
.contact2-p {
    font-size: 14px !important;
}
.contact-right-content {
   width: calc(100% - 20px);
}
.contact-icon{
	width: 20px;
}
.contactus-graphic {
    width: 20%;
}
.contact-us-form {
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
}
.sky2{
	width:100%;}
.sky2a {
    margin-top: 350px;
}
}
@media all and (max-width: 535px){
.second-right-img{
	margin-top:100px !important;}	
	
}
@media all and (max-width: 530px){
.third-row {
    margin-bottom: 70px;
}	
	
}
@media all and (max-width: 525px){
.width50 {
    width: 100%;
    margin: 0;
    float: none;
}
.width50 ul {
    margin: 0;
}
}
@media all and (max-width: 500px){
.right-img {
    margin-top: 190px;
    width: 70px;
}
.opt-msg{
	font-size: 14px;
}
.input-submit {
    font-size: 18px;
}
.footer-p{
	font-size: 14px;
}
.box-p {
    font-size: 18px;
}
.marketing-mp {
    width: 80%;
}
.star-img{
    width: 9px;
}
 .star-img2 {
    width: 12px;}
.details-p {
    width: 80%;
}
.white-box-div {
    width: 100%;
}
.li-p {
    width: 100%;
}
.blue-planet {
    margin-top: -410px;}
.mingshie {
    margin-top: 40px;
}
.blue-iron {
    margin-top: 0px;
}
.advanced-marketing-planet{
	margin-top: -500px;
}
.black-rock {
    margin-top: 0px;
}
.advanced-marketing-planet-red {
    margin-left: -1%;
}
.marketing-rocket {
    margin-top: -80px;}
.halo-planet {
    margin-top: 15px;
}
.right-ani-pic {
    width: 70%;
    margin: 20px auto;
    float: none;
}
.left-detail-div {
    margin: 0 auto;
    float: none;
    width: 70%;
    padding-top: 1px;
    padding-bottom: 1px;
}
.left-li-div {
    float: none;
    width: 100%;
	overflow: hidden;
}
.right-img-div2 {
    margin-top: 30px;
	width: 70%;
    float: none;
    margin-left: auto;
    margin-right: auto;	
}
.white-box-css {
    padding: 20px 0px;
}
.artz-h1 {
    font-size: 24px;
}
.inifi-left-div {
    float: none;
    width: 100%;
}
.infi-right-div {
    margin-top: 30px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0;
}
}
@media all and (max-width: 470px){

.thousand-h1 {
    font-size: 18px;
}	
.gradient-border {
    width: 25px;
    height: 3px;
}
.thousand-p {
    font-size: 15px;
}	
.red-hover{
	display:none;	
}	
.red-hover2{
	display:inline-block;	
}
.menu-img {
    width: 25px;
}	
.right-menu-div {
    padding-top: 0;
}
.category-div {
    width: 90px;}
.category-div-button {
    float: left;
    width: calc(100% - 90px);
}
.blog-aa {
    font-size: 16px;
}
.moon-height {
    min-height: 260px;
}
.art-h12 {
    margin-top: 0;
}

}
@media all and (max-width: 460px){
.red-sticker {
    width: 70px;
}	
}
@media all and (max-width: 455px){
.special-m-height{
	min-height:63px;}


}
@media all and (max-width: 450px){
.right-img-div {
    margin-top: -80px;
	width: 60%;
}
.ad-mh{
	min-height:63px;}
.six-row-div{
	padding-bottom: 30px;
}
.input-name, .input-message {
    font-size: 14px;}
.thousand-h2 {
    font-size: 21px;
}	
.blog-title3 {
    font-size: 21px !important;
	margin-bottom: 15px !important;}
.white-button {
    font-size: 16px;
}
.left-content-top {
    margin-top: 40px;}
.left-content-top .art-h1 {
    margin-bottom: 0;
}
.left-content-top .art-p {
    margin-top: 5px;
}
}
@media all and (max-width: 440px){

.thousand-h2 {
    font-size: 21px;
}	
.second-right-img {
    margin-top: 55px !important;
}
.box-img {
    width: 85%;
}
.second-left-img {
    width: 60px;
}
.second-right-img {
    margin-top: 185px !important;
	width: 40px !important;
}
.radio1 {
    min-height: 150px;
    margin-top: -65px;
}
}

@media all and (max-width: 425px){
.thousand-h3a {
    font-size: 21px;
}
.box-p {
    font-size: 18px;
}
.package-box {
    width: 100%;}
.red-sticker{
	margin-left: -4.5%;}
.smallest-p {
    width: 100%;
}
.w100-btn {
    width: 100%;
    margin-left: 0;

}
}
@media all and (max-width: 420px){
.input-submit{
	width:100%;}	
	
}
@media all and (max-width: 400px){
.thousand-p2 {
    font-size: 16px;}
.arrow-p {
    margin-top: 0;
}
.left-img {
    width: 70px;
}
.arrow-img {
    width: 15px;
}
.second-left-img {
    width: 40px !important;
}
.second-right-img {
    margin-top: 175px !important;
    width: 25px !important;
}
.thousand-h3 {
    font-size: 21px;
    margin-bottom: 15px;
}
.contactus-graphic {
    width: 15%;
}
.contact-us-form{
	width: 70%;
}
.galaxy-h1-title {
    font-size: 21px;
}
.first-content-div {
    margin-top: 80px;
}
.left-pink-planet {
    margin-top: 0px;}
.details-p {
    width: 100%;
}
.galaxy-h1-title2 {
    font-size: 21px;
}
.li-p {
    font-size: 14px;
}
.roi-planet {
    margin-top: 30px;}
.pink-radius-button {
    width: 100%;}
.pink-radius-button {
    font-size: 16px;
}
.blue-iron {
    margin-top: 7px;
}
.advanced-marketing-planet {
    margin-top: -470px;
}
.black-rock {
    margin-top: 30px;
}
.starry-bg {
    padding-bottom: 100px;
}
.art-h1 {
    font-size: 21px;
}
.art-p {
    font-size: 14px;
}
.left-content-top {
    width: 73%;
}
.moon-height {
    min-height: 220px;
}
.art-h12 {
    font-size: 14px;}
.left-detail-div {
    width: 100%;}
.artz-h1 {
    font-size: 21px;
}
}
@media all and (max-width: 390px){
.special-m-height {
    min-height: 84px;
}	
	
}
@media all and (max-width: 370px){
.white-box-css .bigger-p {
    min-height: 75px;}

}
@media all and (max-width: 360px){
.contact-p{
    font-size: 16px;	
}
.contact-left-icon{
	width:25px;}
.social-icon {
    width: 30px;
}
}

@media all and (max-width: 350px){
.blog-title3 {
    font-size: 19px !important;}
.white-button {
    font-size: 14px;
}
}
@media all and (max-width: 340px){
.left-content-top .art-h1 {
    font-size: 18px;
}
.moon-height {
    min-height: 190px;
}
.art-h12 {
    font-size: 12px;
}
.menu-padding {
    padding-right: 10px;
}
}
@media all and (max-width: 330px){
.contact-p {
    font-size: 14px;
}

}
@media all and (max-width: 320px){
.blog-aa2 {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 7px;}	
.radio1 {
    min-height: 170px;
    margin-top: -75px;
}
.right-img-div {
    width: 50%;
}	
}
@media all and (max-width: 315px){
.radio1 {
    min-height: 190px;
    margin-top: -85px;
}	
	
}